<section class="module-post_header">
	<div class="nav-top">
		<div class="row">
			<div class="back">
				<a href="#"><span>BACK TO NEWS & EVENTS</span></a>
			</div>
			<div class="briefcase">
				<a href="javascript:void(0)" id="{{template}}" class="hero-briefcase__add-btn briefcaseAdd"><span>ADD TO MY BRIEFCASE</span></a>
			</div>
		</div>
	</div>

	<div class="post-meta">
		<div class="row">
			<div class="tag" data-briefcase="meta-tag"><a href="#">ARTICLES & ADVISORIES</a></div>
			<div class="date" data-briefcase="meta-date"><a href="#">AUG 29 2016</a></div>
			<div class="title" data-briefcase="meta-title">
				<h1>The Zika Threat Is Now In Our Backyard! What Employers Need To Know</h1>
				<!-- <h1>Buchanan Ingersoll & Rooney Names Kimberly Gessner Co-Chair of Construction Litigation Practice</h1> -->
			</div>
			<div class="social">
				<ul>
					<li><span>SHARE:</span></li>
					<li><a href="#" class="email"></a></li>
					<li><a href="#" class="linkedin"></a></li>
					<li><a href="#" class="twitter"></a></li>
					<li><a href="#" class="facebook"></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
