.attorney-info
	font-family: 'Gibson Regular'
	height: 300px
	// margin-bottom: 50px
	position: relative
	width: 100%
	.bio-hero__print-logo-img
		display: none
	.col-bio_photo
		float: left
		width: 30%
	.col-bio_content
		float: left
		width: 70%

	.photo
		background: none !important
		img
			max-width: 200px
	.titles p
		font-family: 'Gibson Regular'
	h1,
	.titles,
	.email,
	.phone-locations__location,
	.phone-locations__phone
		margin-bottom: 5px
		width: 100%
	.phone-locations__phones,
	.phone-locations__locations
		float: left
	.phone-locations__locations
		text-align: right
	.phone-locations__phones, .phone-locations__locations
		width: 50%
	.contact-widgets
		display: none
.content-wrap
	// clear: both
	position: relative

.col-sidebar
	font-family: 'Gibson Regular'
	ul,ol
		list-style: none
	.header
		font-size: 24px
		border-bottom: solid 1px #D0D0D0
		padding-bottom: 10px
		margin-bottom: 10px
		color: #212121
	.widget
		padding-bottom: 30px
	.link-nav
		li
			padding-bottom: 5px
		a
			font-family: 'Gibson Semi'
			font-weight: normal
	.widget.text
		color: #9B9B9B
		p
			padding-bottom: 15px