.logo
	width: 122px
	margin-top: 1px

.cover-page
	width: 180mm
	width: 100%
	background: $blue
	padding: 40px
	position: relative
	height: 1000px
	color: white
	page-break-after: always

.cover-text
	position: relative
	top: 493px
	font-weight: 600

.cover-text__tagline
	letter-spacing: 7.5px
	font-size: 14px
	padding-bottom: 15px
	font-family: 'Gibson Semi'
	font-weight: normal

.cover-text__title
	font-size: 62px
	font-family: 'Gibson Semi'
	font-weight: normal

.cover-footer
	position: absolute
	left: 40px
	right: 40px
	bottom: -30px
.cover-copyright
	font-size: 11px
	letter-spacing: 0.3px
	font-family: 'Gibson Regular'
	font-weight: normal

.cover-website
	position: absolute
	right: -70px
	font-size: 11px
	letter-spacing: 0.3px
	font-family: 'Gibson Regular'
	font-weight: normal