@font-face
	font-family: 'Georgia'
	src: url($url + 'assets/fonts/Georgia/Georgia.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Georgia Bold'
	src: url($url + 'assets/fonts/Georgia/Georgia-Bold.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Gibson Regular'
	src: url($url + 'assets/fonts/Gibson/Gibson-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Gibson Semi'
	src: url($url + 'assets/fonts/Gibson/Gibson-SemiBold.ttf') format('truetype')
	font-weight: normal
	font-style: normal
