.module-stat_callout_4
	& + section
		clear: both
	.col-stat
		float: left
		width: 25%
		text-align: center
		padding-bottom: 50px
	.stat
		font-family: 'Gibson Regular'
		font-size: 60px
		color: $blue
	.description h6
		font-family: 'Gibson Semi'
		font-size: 16px
		letter-spacing: 1px
		font-weight: normal
		color: #A5A9AC