.module-quote_callout
	color: #13376F
	font-family: 'Gibson Regular'
	text-align: center
	padding: 0 0 50px 0
	.quote
		padding-bottom: 24px
		max-width: 800px
		margin: 0 auto
		p
			font-size: 24px
			line-height: 1.4
			font-family: 'Gibson Regular'
	.source
		font-size: 18px
		letter-spacing: 1px
		color: #A5A9AC
		font-family: 'Gibson Semi'
		span
			font-weight: normal
			font-style: italic
			font-family: 'Gibson Regular'