.module-post_content
	// Modifiers
	h2
		padding-bottom: 14px
		color: #212121
		font-size: 48px
		letter-spacing: .4px
		line-height: 54px
	h3
		font-size: 36px
		padding: 32px 0 40px
		line-height: 42px
	h4
		font-size: 24px
		line-height: 36px
	h5
		font-size: 18px
		line-height: 2
		color: #14396D
		font-weight: bold
	hr
		border: none
		border-bottom: solid #D1D1D1 1px
		margin: 0 0 25px
		padding: 25px 0 0
		background: none
	.wrap
		img.hero
			margin-bottom: 51px
		img
			margin-bottom: 36px
		& > :first-child
			padding-top: 0
			margin-top: 0
		& > :last-child
			padding-bottom: 0
			margin-bottom: 0
		p
			font-size: 16px
			margin-bottom: 30px
			line-height: 1.4
		> ul, > ol
			padding: 15px 0 35px 20px
			list-style: disc outside none
			padding-left: 36px
			ul, ol
				padding: 10px 0 36px 20px
			> li
				font-size: 16px
				line-height: 1.4
				padding-bottom: 12px
				li
					font-size: inherit
					line-height: inherit
					padding-bottom: 12px
		> ul
			list-style: disc
		> ol
			list-style: decimal
		a
			color: $orange
			text-decoration: none
		table
			width: 100%
			text-align: left
			margin-bottom: 30px
			font-size: inherit
			td,th
				font-size: 20px
				line-height: 36px
			td,th
				&:first-child
					padding-right: 0
			td,th
				&:last-child
					padding-left: 0
			p
				font-size: 20px
				line-height: 36px
				padding-bottom: 36px
			ul, ol
				padding: 10px 0 10px 20px
				list-style: disc outside none
				padding-left: 36px
				li
					padding-bottom: 12px
			ul
				list-style: disc
			ol
				list-style: decimal
	blockquote
		border-left: solid 4px #13376F
		position: relative
		padding: 12px 100px 5px 92px
		margin-bottom: 90px
		p
			color: #13376F
			position: relative
			font-size: 48px
			letter-spacing: 1px
			line-height: 54px
			&:first-child:before
				content: open-quote
				position: absolute
				left: -15px
			&:last-child:after
				content: close-quote
				position: absolute

