.module-link_list_2_col
	.header
		font-size: 30px
		padding-bottom: 30px
	li
		list-style: none
		border-bottom: 1px solid #DEE1E2
		padding-bottom: 10px
		margin-bottom: 10px
	a
		font-family: 'Gibson Semi'
		font-weight: normal
