.module-vcard_slider
	padding-bottom: 30px
	.header
		font-size: 30px
		padding-bottom: 30px
	.vcard-link
		display: none
	.vcard
		padding-bottom: 20px
	.name a
		font-family: 'Gibson Semi'
		font-size: 20px
		display: block
		padding-bottom: 5px
	.wrap-info
		font-family: 'Gibson Regular'
		div
			padding-bottom: 0px
			margin-bottom: 0
			line-height: 1.2