.module-office_head
	.header
		font-size: 30px
		padding-bottom: 30px
	.view-bio
		display: none
	.col-bio
		.name
			margin-bottom: 15px
		.bio
			padding-bottom: 15px
			page-break-after: auto
		p
			line-height: 1.4
		p, a
			font-family: 'Gibson Regular'
