.module-bullets_explanation
	page-break-before: always
	page-break-after: always
	.header
		font-size: 30px
		padding-bottom: 30px
	.bullet-row
	.col-bullet
		h5
			font-size: 25px
			padding-bottom: 10px
	p
		font-size: 16px
		margin-bottom: 15px
		line-height: 1.4