.post-meta
	width: 100%
	padding-bottom: 50px
	.title
		padding-top: 20px
		// clear: both
		h1
			font-size: 30px
	.tag
		font-family: 'Gibson Semi'
		width: 50%
		float: right
		text-align: right
		a
			font-size: 13px
	.date
		width: 50%
		a
			font-family: 'Gibson Regular'
			font-size: 13px
			color: #A5A9AC
