<section id="footer">
	<div class="row row-1">
		<div class="col-topics">
			<div class="widget-header">Popular Topics</div>
			<div class="row">
				<div class="column">
					<ul>
						<li><a href="#" class="briefcase">Immigration Law</a></li>
						<li><a href="#" class="health-cross">HIPAA Compliance</a></li>
						<li><a href="#" class="briefcase">Employment Law</a></li>
						<li><a href="#" class="buildings">Real Estate Law</a></li>
						<li><a href="#" class="health-cross">Medical Malpractice</a></li>
						<li><a href="#" class="paperwork">Bankruptcy Law</a></li>
						<li><a href="#" class="globe">Tax Law</a></li>
						<li><a href="#" class="lock">Patent Law</a></li>
					</ul>
				</div>
				<div class="column">
					<ul>
						<li><a href="#" class="paperwork">Entertainment & Media Law</a></li>
						<li><a href="#" class="paperwork">Insurance & Reinsurance Law</a></li>
						<li><a href="#" class="capital-building">International Services Law</a></li>
						<li><a href="#" class="gavel">Maritime Law</a></li>
						<li><a href="#" class="capital-building">Education Law</a></li>
						<li><a href="#" class="buildings">Construction Law</a></li>
						<li><a href="#" class="paperwork">Franchise & Distrubution Law</a></li>
						<li><a href="#" class="briefcase">Sports Law</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-right">
			<div class="email-opt-in">
				<div class="widget-header">Stay Informed</div>
				<div class="copy">
					<p>Our attorneys actively monitor the services & industries in which they practice. Stay up to date on the latest policies and findings by subscribing to our newsletter.</p>
				</div>
				<div class="wrap-input">
					<input type="text" placeholder="Enter your email">
					<input type="submit" value="JOIN">
				</div>
			</div>
			<div class="languages">
				<div class="widget-header">Languages</div>
				<ul>
					<li>
						<a href="#">中文 (Chinese)</a>
					</li>
					<li>
						<a href="#">日本語  (Japanese)</a>
					</li>
					<li>
						<a href="#">Français (French)</a>
					</li>
					<li>
						<a href="#">Pусский (Russian)</a>
					</li>
					<li>
						<a href="#">Deutsch (German)</a>
					</li>
					<li>
						<a href="#">Español (Spanish)</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row row-2">
		<hr>
		<div class="home">
			<a href="#">HOME</a>
		</div>
		<div class="copy-right">
			<ul>
				<li><a href="#">© 2016 BUCHANAN INGERSOL & ROONEY PC </a></li>
				<li><a href="#">DISCLAIMER</a></li>
				<li><a href="#">PRIVACY POLICY</a></li>
			</ul>
		</div>
	</div>
</section>

<script src="dist/js/main.js" type="text/javascript" /></script>
<div class="sliding-panel-fade-screen"></div>
<div class="search-fade-screen"></div>
<script src="http://dev.trafficdesk.io/briefcase/web/briefcase.js"></script>
