<div class="search-desktop">
	<input type="text" class="search-input" placeholder="Search for an Attorney, Service, Industry or Location">
	<button class="search-toggle"></button>
	{% include "partials/search-results.nunjucks" %}
</div>

<div class="nav-mobile">
	<a href="" class="hamburger-btn">
		<img src="{{ site_url }}assets/images/icon-menu.png" alt="">
	</a>
	<a href="/" class="logo">
		<img src="{{ site_url }}assets/images/logo-mobile.png" alt="" class="mobile">
		<img src="{{ site_url }}assets/images/logo-tablet.png" alt="" class="tablet">
	</a>
	<button class="briefcase">
		<img src="{{ site_url }}assets/images/icon-briefcase.png" alt="">
	</button>
	<div class="search-mobile">
		<input type="text" class="search-input" placeholder="Search Attorney, Service, Industry or Location">
		<button class="search-toggle"></button>
		{% include "partials/search-results.nunjucks" %}
	</div>
</div>

<div id="main-nav">
	<div class="scroll-hide">
		<a href="/" class="logo">
			<img src="{{ site_url }}assets/images/logo.png" alt="">
		</a>
		<div class="find-box">
			<a href="#">FIND AN ATTORNEY</a>
			<a href="#">FIND AN OFFICE</a>
		</div>
		<div class="wrap-nav">
			<nav class="primary">
				<ul>
					<li {{ 'class=active' if template == "people" }}
						{{ 'class=active' if template == "bio" }}>
						<a href="/people.html">PEOPLE</a></li>
					<li class="has-sub_menu {{ 'active' if template == 'services_industry' }}">
						<a href="#">SERVICES & INDUSTRIES</a>
						<ul class="sub-menu">
							<li><a href="">CORPORATE</a></li>
							<li><a href="">ENERGY</a></li>
							<li><a href="">ENVIRONMENTAL</a></li>
							<li><a href="">FINANCE & BANKING</a></li>
							<li><a href="">GOVERNMENT RELATIONS</a></li>
							<li><a href="" {{ 'class=active' if template == "services_industry" }}>HEALTH CARE</a></li>
							<li><a href="">IMMIGRATION</a></li>
							<li><a href="">INTELLECTUAL PROPERTY</a></li>
							<li><a href="">LABOR & EMPLOYMENT</a></li>
							<li><a href="">LITIGATION</a></li>
							<li><a href="">REAL ESTATE</a></li>
							<li><a href="">TAX</a></li>
							<li><a href="">VIEW ALL</a></li>
						</ul>
					</li>
					<li {{ 'class=active' if template == "articles-advisories" }}
						{{ 'class=active' if template == "insights" }}>
						<a href="/insights.html">INSIGHTS</a></li>
					<li class="has-sub_menu">
						<a href="/careers.html">CAREERS</a>
						<ul class="sub-menu">
							<li {{ 'class=active' if template == "careers" }}><a href="#">WORKING AT BUCHANAN</a></li>
							<li><a href="#">LATERAL ATTORNEYS</a></li>
							<li><a href="#">LAW STUDENTS & CLERKS</a></li>
							<li><a href="#">PROFESSIONAL STAFF</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<hr class="divider">
			<nav class="secondary">
				<ul>
					<li class="has-sub_menu">
						<a href="">OUR FIRM</a>
						<ul class="sub-menu">
							<li><a href="">ABOUT BUCHANAN</a></li>
							<li><a href="">OVERVIEW</a></li>
							<li><a href="">DIVERSITY</a></li>
							<li><a href="">AWARDS & RANKING</a></li>
							<li><a href="">CORPORATE RESPONSIBILITY</a></li>
							<li><a href="">LEADERSHIP TEAM</a></li>
						</ul>
					</li>
					<li {{ 'class=active' if template == "event_detail" }}
						{{ 'class=active' if template == "news_events" }}
					><a href="/news-events.html">NEWS & EVENTS</a></li>
					<li {{ 'class=active' if template == "locations_detail" }}
					><a href="/locations.html">LOCATIONS</a></li>
					<li {{ 'class=active' if template == "contact" }}
					><a href="/contact.html">CONTACT</a></li>
				</ul>
			</nav>
			<div class="nav-footer">
				<a href="" class="briefcase {{ "active" if template == "briefcase" }}"><span class="notification">2</span>MY BRIEFCASE</a>
				<div class="social-media">
					<ul>
						<li>
							<a href="https://www.linkedin.com/company/buchanan-ingersoll-&-rooney-pc" target="_blank" class="linkedin"></a>
						</li>
						<li>
							<a href="https://twitter.com/@buchanannews" target="_blank" class="twitter"></a>
						</li>
						<li>
							<a href="https://www.facebook.com/buchananingersollrooney" target="_blank" class="facebook"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
