@media print
	html
		width: 210mm
		height: 297mm
		margin: 0 auto
	@page
		size: A4
		background: red
	@page
		margin: 2cm 1cm
	*
		text-shadow: none !important
		background: 0 0 !important
		-webkit-box-shadow: none !important
		box-shadow: none !important
		-webkit-print-color-adjust: exact
	#page-container
		@import 'print/hidden-elements'
		@import 'print/page-hero'
		@import 'print/attorney-bio'
		@import 'print/briefcase'
		@import 'print/post-header'
		padding: 0
		font-size: 11px
