{# contact.nunjucks #}

<section class="module-contact_info_columns" data-briefcase="contact-us">
	<div class="row">
		<div class="column">
			<div class="info">
				<h5 class="title">Office Head</h5>
				<h6 class="name"><a href="#">Keith R. Solar</a></h6>
				<a href="#" class="email">keith.solar@bipc.com</a>
				<div class="numbers">
					<div class="col">
						<a href="#">P: 202 452 7970</a>
					</div>
					<div class="col">
						<a href="#">F: 619 702 3898</a>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="info">
				<h5 class="title">Media Inquiries</h5>
				<h6 class="name"><a href="#">Ela Voluck</a></h6>
				<a href="#" class="email">ela.voluck@bipc.com</a>
				<div class="numbers">
					<div class="col">
						<a href="#">P: 202 452 7970</a>
					</div>
					<div class="col">
						<a href="#">F: 619 702 3898</a>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="info">
				<h5 class="title">Human Resources</h5>
				<h6 class="name"><a href="#">Karen M. Wynn</a></h6>
				<a href="#" class="email">karen.wynn@bipc.com</a>
				<div class="numbers">
					<div class="col">
						<a href="#">P: 202 452 7970</a>
					</div>
					<div class="col">
						<a href="#">F: 619 702 3898</a>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="info">
				<h5 class="title">Recruiting</h5>
				<h6 class="name"><a href="#">Danielle L. Rosetti</a></h6>
				<a href="#" class="email">ronald.abramson@bipc.com</a>
				<div class="numbers">
					<div class="col">
						<a href="#">P: 202 452 7970</a>
					</div>
					<div class="col">
						<a href="#">F: 619 702 3898</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
