<div class="pdf-modal">
    <div class="modal-fade-screen">
        <div class="modal-inner">
            <div class="modal-close"></div>
            <div class="modal-content">
                <div class="header">
                    <h4>Send Your PDF</h4>
                </div>
                <div class="form-fields">
                    <div class="row">
                        <label for="document-name">Name Your Document: <span>(This will also be the title of your cover sheet)</span></label>
                        <input type="text" name="document-name" placeholder="Example: Health Care Service Information">
                    </div>
                    {# It was decided that a LINK TO FILE was more a "nice to have" than a "need to have".  I agreed.  --  Jason Marshall #}
                    {# <div class="row">
                        <label for="document-link">Link To Document:</label>
                        <div class="document-link-wrap">
                            <input type="text" name="document-link">
                            <button class="copy-link">COPY</button>
                        </div>

                    </div> #}
                    <div class="row">
                        <label for="from-address">From:</label>
                        <input type="email" name="from-address" placeholder="Email address">
                    </div>
                    <div class="row">
                        <label for="to-address">To:</label>
                        <input type="email" name="to-address" placeholder="Email address">
                        <textarea name="message" placeholder="Message (optional)"></textarea>
                    </div>
                </div>
                <button type="submit" value="SEND">Submit</button>
                <span id="sendStatus" class="pdf-modal__status">
                    <span class="pdf-modal__status-message pdf-modal__status-message--success">Message Sent</span>
                    <span class="pdf-modal__status-message pdf-modal__status-message--fail">Error sending message.<br>Please double check form inputs.</span>
                </span>
            </div>
        </div>
    </div>
</div>

