section.module-all_service_list
	font-family: 'Gibson'
	font-weight: 600
	padding: em(28) 0 em(63) 0
	+media($lg-1130)
		padding: em(83.8) 0 em(152)
	> .row
		max-width: em(1225)
	.col-left, .col-right
		+media($lg-1130)
			width: 50%
			float: left
	.col-right
		li:last-child
			// border-bottom: 1px solid #DEE1E2
		+media($lg-1130)
			padding-left: em(15)
	ul
		list-style: none
	a
		color: #1F2228
		font-size: em(18)
		letter-spacing: .9px
		line-height: 1
		display: block
		position: relative
		&:hover
			color: $orange
		+media($lg-1130)
			font-size: em(20)
	.row > ul
		li
			> a
				// border-top: 1px solid #DEE1E2
				line-height: 1
				letter-spacing: em(1,18)
				height: em(72,18)
				span
					line-height: em(18)
					padding-right: em(50)
					+v-align(absolute)
			&.has-sub_menu
				> a
					// background: url('../../assets/images/services/icon-chevron_down_orange.png') 100% 50% no-repeat
					// background-size: 14px
					// +transition(none)
					+media($lg-1130)
						background-position: 94% 50%
				&.open > a
					// background-image: url('../../assets/images/services/icon-chevron_up_orange.png')
					color: $orange
			.sub-menu
				padding: 0 0 em(20) em(20)
				// display: none
				+media($lg-1130)
					padding: em(2) 0 em(34) em(32)
				> li
					> a
						border: none
						font-size: em(16)
						// color: $orange
						// background: url('../../assets/images/services/icon-chevron_right_orange.png') 94% 50% no-repeat
						background-size: em(8)
						height: em(60,18)
						&:hover
							color: $orange
						+media($lg-1130)
							font-size: em(18)
							height: em(36,18)
							padding: em(9,18) 0