section.module-blog_posts_grid
	font-family: 'Gibson'
	.header
		text-align: center
		padding: em(64) 0 em(68)
		+media($md-768)
			background: #F4F5F8
			padding: em(70) 0 em(70)
		+media($lg-1130)
			padding: em(100) 0 em(81)
		h5
			color: black
			font-size: em(24)
			+media($md-768)
				font-size: em(24)
				letter-spacing: .4px
			+media($lg-1130)
				font-size: em(48)
	.mobile-posts
		background: white
		padding: em(18) 0 em(50)
		+media($lg-1130)
			display: none
		.post
			border-bottom: solid 1px #D5D5D5
			padding: em(19) 0 em(33)
			.date
				font-size: em(13)
				padding-bottom: em(3,13)
				letter-spacing: 1px
				color: #A5A9AC
				line-height: 25px
				&.featured
					font-weight: 600
					letter-spacing: 2.79px
			.headline
				padding: em(17) 0 em(12)
				h3
					font-size: em(24)
					font-weight: normal
					line-height: 36px
					color: #1F2228
			.read-more
				a
					font-size: em(12)
					padding-left: em(21,12)
					font-weight: 600
					line-height: 13px
					letter-spacing: 1px
					text-decoration: none
					background: url('../../assets/images/icon-arrow-right-orange.png') 0 50% no-repeat
					background-size: em(12,12)
		.view-all
			padding-top: em(41)
			a
				font-size: em(16)
				padding-left: em(26,16)
				line-height: 13px
				font-weight: 600
				letter-spacing: 1.23px
				text-decoration: none
				background: url('../../assets/images/icon-arrow-right-orange.png') 0 50% no-repeat
				background-size: em(16,16)
	.desktop-posts
		display: none
		background: white
		+media($lg-1130)
			display: block
		.row
			max-width: 100%
			margin: 0 em(-15)
			+media($lg-1130)
				margin: 0 em(-30)
		div[class^='col-']
			float: left
		.col-featured
			width: 50%
			.post-tile
				position: relative
				height: em(755)
				color: white
				background: 50% no-repeat
				background-size: cover
			.post-info
				+position(absolute, auto auto em(49) em(60))
			.tag
				font-size: em(14)
				line-height: 25px
				letter-spacing: 2.5px
			h4.headline
				font-size: em(36)
				padding: em(8,36) em(40,36) em(30,36) 0
				line-height: em(54,36)
			.read-more
				a
					font-size: em(13)
					line-height: 13px
					text-decoration: none
					padding-left: em(22,13)
					font-weight: 600
					display: block
					background: url('../../assets/images/icon-arrow-right-orange.png') 0 0 no-repeat
					background-size: 15px
		.col-sub_featured
			width: 25%
			.post-tile.tile-2
				background: #00224E
				h4
					color: white
			.post-tile
				background: #C9CED1
				// padding: em(59) em(30) 45%
				height: em(377.5)
				position: relative
				.wrap
					+position(absolute, em(61) em(50) auto em(30))
				.date
					font-size: em(12)
					padding-bottom: em(10,12)
					letter-spacing: 2.79px
					font-weight: 600
					color: white
				h4
					font-size: em(20)
					line-height: em(36,20)
					color: #1F2228
					font-weight: normal
				.read-more
					+position(absolute, auto auto em(51) em(32))
					a
						font-size: em(13)
						line-height: 13px
						padding-left: em(22,13)
						color: white
						letter-spacing: 1px
						font-weight: 600
						text-decoration: none
						display: block
						background: url('../../assets/images/icon-arrow-right-white.png') 0 0 no-repeat
						background-size: 15px
						&:hover
							color: darken(white,20)
		.col-post_feed
			width: 25%
			padding: em(59) 0 0 em(37)
			+media($lg-1680)
				padding-right: em(36)
			.post-feed-wrap
				position: relative
			.gradient
				+position(absolute, auto 0 0 0)
				height: em(100)
				+linear-gradient(rgba(255,255,255,0) 0%, white 70%)
				display: none
				+media($lg-1130)
					display: block
			.post-feed
				max-height: em(601)
				overflow-y: scroll
				-ms-overflow-style: none
				margin-right: em(-15)
				padding-right: em(15)
			.feed-header
				padding-bottom: em(16)
				span
					font-size: em(14)
					color: #A5A9AC
					letter-spacing: 3px
			.post
				border-bottom: solid 1px #D5D5D5
				padding-bottom: em(10)
				margin-bottom: em(17)
				.date
					font-size: em(13)
					padding-bottom: em(4,13)
					letter-spacing: 1px
					line-height: 25px
					color: #A5A9AC
				.headline
					h4 a
						font-size: em(18)
						font-weight: normal
						line-height: em(36,18)
						color: #1F2228
						text-decoration: none
						display: inline-block
			.view-all
				a
					font-size: em(13)
					padding-left: em(21,13)
					line-height: 13px
					letter-spacing: 1px
					font-weight: 600
					text-decoration: none
					background: url('../../assets/images/icon-arrow-right-orange.png') 0 0 no-repeat
					background-size: em(13,13)
					display: block

