section.module-bullets_explanation
	padding: em(79) 0 em(22) 0
	+media($lg-1130)
		padding: em(68) 0 em(44) 0
	.row
		max-width: em(974)
	.header
		padding-bottom: em(44)
		+media($lg-1130)
			padding-bottom: em(92)
		h4
			font-size: em(36)
			line-height: 1
			color: #212121
			+media($lg-1130)
				white-space: nowrap
				letter-spacing: -1px
	.bullet-row
		+outer-container
		padding-bottom: em(36)
		.col-bullet
			padding-bottom: em(4)
			+media($lg-1130)
				padding: em(3) 0 0 0
				+span-columns(3)
			h5
				font-size: em(24)
				color: #212121
				font-weight: 600
		.col-explanation
			+media($lg-1130)
				+span-columns(9)
				+omega
			p
				font-size: em(20)
				color: #212121
				line-height: 36px
			ul, ol
				padding: em(36) 0 em(36) em(20)
				+media($lg-1130)
					list-style: disc outside none
					padding-left: em(36)
				li
					font-size: em(18)
					line-height: em(30,18)
					padding-bottom: em(12,18)
					+media($lg-1130)
						font-size: em(20)
						line-height: em(36,20)
						padding-bottom: em(12,20)