section.module-callout_slider
	padding: em(65) 0 0 0
	text-align: center
	+radial-gradient(circle at 50% 20%, #0A5097 10%, #013971 80%, #013971)
	color: white
	+media($lg-1130)
		padding: em(107) 0 0 0
	.header
		.title
			padding-bottom: em(23)
			+media($lg-1130)
				padding-bottom: em(19)
			h4
				font-size: em(30)
				font-family: 'Gibson'
				font-weight: 600
				+media($lg-1130)
					font-size: em(48)
					letter-spacing: .4px
		.sub-text
			max-width: em(890)
			margin: 0 auto
			p
				font-size: em(20)
				line-height: em(36,20)
	.slider
		+slick-dot-styling
		.slick-dots
			bottom: em(57)
			+media($lg-1130)
				bottom: em(112)
		.slide
			padding: em(130) 0 em(187)
			position: relative
			+media($lg-1130)
				height: em(710)
				// padding: em(143) 0 em(385)
				padding: 0
			&.slick-active
				.bg_text
					opacity: 1
				h5:after, h5:before
					opacity: 1
		.bg_text
			opacity: 0
			+transition(all 1.5s ease)
			text-align: center
			font-size: em(300)
			font-family: 'SDGeorgiaLight'
			color: #053A72
			// +position(absolute,0)
			position: absolute
			top: em(20,300)
			left: 50%
			right: 0
			z-index: -1
			white-space: nowrap
			min-width: 5000px
			+media($lg-1130)
				font-size: em(410)
				top: em(-30,410)
			span
				left: -50%
				position: relative
		.slide-text
			margin: 0 auto
			+media($lg-1130)
				+v-align(absolute, 34%)
				left: 0
				right: 0
			h5
				font-size: em(30)
				max-width: em(600,30)
				line-height: em(36,30)
				padding: 0 em(10,30)
				margin: 0 auto
				font-family: 'SDGeorgiaLight'
				position: relative
				+media($lg-1130)
					font-size: em(48)
					max-width: em(750,48)
				&:after, &:before
					+transition(all 1s ease)
					opacity: 0
					content: ''
					display: block
					+position(absolute, auto -1000px em(-10,48) auto )
					background: white
					height: 1px
					width: 1000px
				&:before
					left: -1000px
			.sub-text
				max-width: em(570)
				margin: 0 auto
				padding: em(15) em(15) em(0)
				p
					font-size: em(20)
					line-height: em(36,20)