section.module-center_callout
	text-align: center
	padding: em(29) em(15) em(10)
	background: white
	+media($lg-1130)
		padding: em(53) 0 em(54)
	.row
		max-width: em(540)
		+media($lg-1130)
			max-width: em(1010)
	h2
		font-size: em(18)
		line-height: em(28,18)
		font-weight: normal
		letter-spacing: .2px
		color: #13376F
		+media($lg-1130)
			font-size: em(36)
			line-height: em(54,36)
			font-weight: 300
			letter-spacing: 0
	hr
		max-width: em(22)
		background: $orange
		height: em(2.5)
		border: none
		margin: em(18) auto
		+media($lg-1130)
			margin: em(33) auto 0
			max-width: em(58)
			height: em(5)