section.module-content_cards_recent
	font-family: 'Gibson'
	padding-bottom: em(30)
	.header
		text-align: center
		padding: em(31) 0 em(54) 0
		+media($lg-1130)
				padding: em(46) 0 em(44)
		h6
			font-size: em(36)
			color: #212121
			font-weight: 600
			+media($lg-1130)
				font-size: em(48)
	.col-card
		display: none
		+media($lg-1130)
			+span-columns(3)
			display: none
			&:nth-child(4n+1)
				clear: both
			&:nth-child(4n+4)
				+omega()
	.card
		background: white 50% 0 no-repeat
		background-size: 100% em(160)
		position: relative
		// padding: em(166) em(28) em(132)
		margin-bottom: em(29)
		min-height: em(415)
		&.featured
			.tag
				background: white
			.wrap-content
				padding-top: em(60)
			.read-more
				display: none

		.add-briefcase
			background: url('../../assets/images/icon-add_briefcase_white.png') 50% no-repeat
			background-size: contain
			height: em(33)
			width: em(33)
			+position(absolute, em(8) em(19) auto auto)
		.tag
			font-size: em(13)
			padding: em(15,13) em(31,13) em(16,13)
			font-family: 'Gibson'
			letter-spacing: 1px
			font-weight: 600
			color: #1F2228
			display: inline
			+position(absolute, em(-1,13) auto auto em(29,13))
			background: #DEE1E2
			+media($lg-1130)
				font-size: em(10)
				padding: em(11,10) em(17,10) em(9,10)
				top: em(-1,13)
				left: em(30,10)
		.wrap-content
			// +position(absolute, auto auto em(60) em(29))
			padding-right: em(29)
			// position: relative
			padding: em(60) em(29) em(40)
			+media($lg-1130)
				// bottom: em(130)
		.meta
			font-size: em(12)
			padding-bottom: em(15,12)
			font-family: 'Gibson'
			font-weight: 600
			color: darken(#A5A9AC,20)
			letter-spacing: 2.5px
			opacity: 1
			.date
				display: inline-block
				padding-bottom: em(6,12)
		.title
			padding-bottom: em(32)
			h4
				a
					color: #1F2228
					letter-spacing: .4px
					font-size: em(22)
					line-height: em(28,22)
					max-height: em(162,22)
					display: block
					overflow: hidden
		.read-more
			font-size: em(13)
			letter-spacing: 1px
			padding-left: em(20,13)
			background: url('../../assets/images/icon-arrow-right-orange.png') 0 20% no-repeat
			background-size: em(14,13)
			font-family: 'Gibson'
			font-weight: 600
			+position(absolute, auto auto em(34,13) em(29,13))