section.module-content_card_slider
	font-family: 'Gibson'
	padding-bottom: em(50)
	+media($lg-1130)
		padding-bottom: em(150)
	.row
		+media($lg-1130)
			max-width: em(1500)
	.header
		text-align: center
		padding: em(59) 0 em(62) 0
		+media($lg-1130)
				padding: em(86) 0 em(82)
		h4
			+moduleHeader(#212121)
	.slick-arrow
		display: none !important
	+slick-dot-styling
	.slick-dots
		display: none !important
		+media($lg-1130)
			display: table !important
			bottom: em(-93)
	.wrap-card_set
		+outer-container
	.col-card
		+media($lg-1130)
			float: left
			width: 50%
			padding: 0 em(15)
			&:nth-child(odd)
				clear: left
		+media($lg-1380)
			width: 25%
			&:nth-child(odd)
				clear: none
	.card
		background: white
		border: solid 1px #DEE1E2
		position: relative
		padding: em(55) em(28) em(30)
		height: 100%
		margin-bottom: em(20)
		+media($lg-1130)
			padding: em(66) em(28) em(90)
		+media($lg-1380)
			padding-bottom: em(112)
		.add-briefcase
			background: url('../../assets/images/icons/briefcase-add-circle_black.svg') 50% no-repeat
			height: em(50)
			width: em(61)
			background-size: em(33)
			+position(absolute, 0 0 auto auto)
			&:hover
				background-image: url('../../assets/images/icons/briefcase-add-circle_orange.svg')
		.tag
			font-size: em(10)
			padding: em(9,10) em(18,10)
			font-family: 'Gibson'
			letter-spacing: 1px
			font-weight: 600
			color: #F5F7F7
			display: inline
			+position(absolute, em(-1,10) auto auto em(29,10))
			background: #DEE1E2
			color: #1F2228
		.details
			position: relative
		.meta
			font-size: em(12)
			padding-bottom: em(21,12)
			font-family: 'Gibson'
			font-weight: 600
			color: #A5A9AC
			letter-spacing: 2.5px
			.date, .time
				display: inline-block
			.date
				padding-bottom: em(6,12)
			.time
				border-left: solid 2px #A5A9AC
				margin-left: em(11,12)
				padding-left: em(13,12)
		.title
			h4
				a
					color: #1F2228
					font-size: em(22)
					line-height: em(28,22)
					letter-spacing: .3px
		.read-more
			font-size: em(13)
			letter-spacing: em(1,13)
			margin-top: em(20,13)
			display: inline-block
			padding: 0 0 0 em(20,13)
			background: url('../../assets/images/icons/arrow-right_orange.svg') 0 em(1,13) no-repeat
			background-size: em(14,13)
			font-family: 'Gibson'
			font-weight: 600
			+media($lg-1130)
				+position(absolute, auto auto em(32,13) em(30,13))
				margin-top: 0