section.module-content_grid
	padding-top: em(39)
	background: #F4F5F8
	+media($md-768)
		padding-top: em(29)
	+media($lg-1130)
		padding-top: em(90)
	.header
		text-align: center
		padding-bottom: em(30)
		+media($md-768)
			padding-bottom: em(27)
		+media($lg-1130)
			padding-bottom: em(72)
		h4
			font-size: em(24)
			font-weight: 600
			color: black
			+media($lg-1130)
				font-size: em(48)
	.grid
		+outer-container
		+media($md-768)
			.one-third
				+span-columns(4)
				.hover-copy
					max-width: em(400)
			.two-third
				+span-columns(8)
				.hover-copy
					max-width: em(680)
			.end
				+omega
		.tile
			position: relative
			background: url('../../assets/images/home/health-care.jpg') 50% no-repeat
			margin-bottom: em(10)
			padding-bottom: 76%
			background-size: cover
			&:after
				content: ""
				+position(absolute, 0 0 0 0 )
				display: block
				background: black
				opacity: 0
				+transition(all .5s ease)
			&:hover
				&:after
					opacity: .7
				.wrap-hover
					.hover-copy
						opacity: 1
						+media($md-768)
							max-height: 600px
					h4
						+media(max-width 767px)
							// opacity: 0
						+media($md-768)
							// bottom: 0
			+media($md-768)
				padding-bottom: 39%
				margin-bottom: 2.12766%
			+media($lg-1130)
				padding-bottom: 39.4%
				margin-bottom: em(30)
			h4
				font-size: em(20)
				+position(absolute, auto auto em(39,20) auto)
				letter-spacing: .5px
				text-transform: uppercase
				padding-left: em(20,20)
				border-left: solid 5px $orange
				line-height: em(25,20)
				color: white
				font-weight: 600
				z-index: 9
				+transition(all .5s ease)
				+media($md-768)
					font-size: em(12)
					padding: em(3,12) 0 em(8,12) em(10,12)
					border-width: 4px
					position: relative
				+media($lg-1130)
					font-size: em(24)
					padding: em(13,24) 0 em(7,24) em(27,24)
					bottom: em(73,24)
					border-width: em(7,24)
					letter-spacing: 1px
				span
					display: block
					+media($md-768)
						display: none
			> a
				display: block
				+position(absolute, 0 0 0 0)
				z-index: 99
			.wrap-hover
				height: auto
				+media($md-768)
					+position(absolute, auto 0 0 0 0)
			.hover-copy
				display: none
				color: white
				+transition(all 1s ease)
				padding: em(15)
				box-sizing: border-box
				opacity: 0
				overflow-y: hidden
				font-family: 'Gibson'
				left: 0
				right: 0
				z-index: 9
				position: relative
				+media(max-width 767px)
					+v-align(absolute, 50%)
				+media($md-768)
					padding: 0 em(15) 0
					max-height: 0
					opacity: 1
				+media($lg-1130)
					padding: 0 em(34) 0
				p
					font-size: em(14)
					line-height: 1.4
					+media($lg-1130)
						font-size: em(20)
						line-height: em(36,20)
				a
					+read-more-arrow(13)
					margin: em(14,13) 0 0
					display: inline-block
					position: relative
					+media($md-768)
						margin-bottom: em(34,13)
	.bottom-cta
		padding-top: em(33)
		display: none
		+media($md-768)
			display: block
		a
			+button
			max-width: em(469)
			height: em(71)
			line-height: em(71)
			margin: 0 auto
			span
				display: block
