section.module-content_cards_featured
	font-family: 'Gibson'
	.header
		text-align: center
		padding: em(44) 0 em(47) 0
		+media($lg-1130)
				padding: em(74) 0 em(44)
		h6
			font-size: em(36)
			color: #212121
			font-weight: 600
			+media($lg-1130)
				font-size: em(48)
	.col-card
		+media($lg-1130)
			+span-columns(6)
			&:nth-child(even)
				+omega
	.card
		background: 50% no-repeat
		background-size: cover
		position: relative
		// padding: em(166) em(28) em(132)
		margin-bottom: em(29)
		height: em(415)
		.add-briefcase
			background: url('../../assets/images/icons/briefcase-add-circle_white.svg') 50% no-repeat
			height: em(50)
			width: em(61)
			background-size: em(33)
			+position(absolute, 0 0 auto auto)
			z-index: 1
			&:hover
				background-image: url('../../assets/images/icons/briefcase-add-circle_orange.svg')
			+media($lg-1130)
				right: em(15)
		.tag
			font-size: em(13)
			padding: em(15,13) em(31,13) em(16,13)
			font-family: 'Gibson'
			letter-spacing: em(1,13)
			font-weight: 600
			color: #1F2228
			display: inline
			+position(absolute, em(-1,13) auto auto em(29,13))
			z-index: 1
			background: white
			+media($lg-1130)
				font-size: em(10)
				padding: em(11,10) em(17,10) em(9,10)
				top: em(-1,13)
				left: em(30,10)
		.card-link
			display: block
			+position(absolute, 0 0 0 0)
			&:hover
				color: $orange
				&:before
					opacity: 1
			&:before
				content: ''
				opacity: 0
				+position(absolute, 0 0 0 0)
				background: rgba(0, 0, 0, .3)
				+transition(all .5s ease)
		.wrap-content
			+position(absolute, auto auto em(34) em(29))
			padding-right: em(15)
		.meta
			font-size: em(12)
			padding-bottom: em(15,12)
			font-family: 'Gibson'
			font-weight: 600
			color: white
			letter-spacing: em(2.5,12)
			opacity: .5
			.date
				display: inline-block
				padding-bottom: em(6,12)
		.title
			padding-bottom: em(32)
			+media($lg-1130)
				padding-bottom: em(16)
			h4
				max-width: em(500)
				color: white
				font-size: em(22)
				line-height: em(28,22)
				+media($lg-1130)
					font-size: em(32)
					line-height: em(36,32)
		.read-more
			font-size: em(13)
			letter-spacing: em(1,13)
			padding-left: em(20,13)
			background: url('../../assets/images/icons/arrow-right_orange.svg') 0 em(1,13) no-repeat
			background-size: em(14,13)
			font-family: 'Gibson'
			font-weight: 600
