section.module-contact_form
	background: white
	+media($lg-1130)
		padding-bottom: em(86)
	.header
		text-align: center
		padding: em(62) 0 em(36) 0
		color: #212121
		+media($lg-1130)
			padding: em(100) 0 em(50)
		h3
			+moduleHeader(#212121)
	.sub-text
		max-width: em(730)
		margin: 0 auto
		padding-top: em(22)
		position: relative
		+media($lg-1130)
			padding-top: em(20)
		p
			+moduleSubtext
		+media($lg-1130)
			display: block
	.wrap-form
		padding-top: em(12)
		max-width: em(970)
		margin: 0 auto
		+media($lg-1130)
			padding-top: em(15)

form.form-styles
	font-family: 'Gibson'
	.row.submit
		padding-bottom: em(29)
	> .row
		padding: 0 0 em(41)
		+media($lg-1130)
			padding-bottom: em(23)
		> .row
			padding: 0
			+media($lg-1130)
				padding: 0 0 em(10)
			// &:last-child .wrap-input:first-child input:not([type=submit])
			// 	border-top: none
			// 	background: red
			// 	+media($lg-1130)
			// 		border-top: solid 1px #C9CED1
			// &:first-child .wrap-input:first-child input:not([type=submit])
			// 	border-top: solid 1px #C9CED1
	+media(max-width 1129px)
		.col-2
			.wrap-input:last-child
				input
					border-top: none
		.col-3
			.wrap-input
				input
					border-top: none
	+media($lg-1130)
		.row
			&.col-2
				.wrap-input
					width: 50%
					&:last-child input
						border-left: none
			&.col-3
				.wrap-input
					width: 33.33%
					&:nth-child(2) input
						border-left: none
						border-right: none
	.section-name
		font-weight: 600
		display: block
		padding-bottom: em(15)
		letter-spacing: 1.23px
	label
		display: none
	label.error
		display: none !important
	.wrap-input
		float: left
		width: 100%
	input:not([type=submit]), textarea
		border: solid 1px #C9CED1
		font-weight: 600
		letter-spacing: 1.23px
		padding: 0 em(18)
		display: block
		width: 100%
		height: em(72)
		+media($lg-1130)
			// float: left
			border-top: solid 1px #C9CED1
		&.error
			border-color: #FD4951
		&.valid
			border-color: #00BB97
		&:first-child
			border-top: solid 1px #C9CED1
	textarea
		height: em(177)
		padding: em(25) em(18)
	input[type="submit"]
		font-size: em(16)
		position: relative
		margin-top: em(-24)
		background: $orange
		font-weight: 600
		height: em(72)
		letter-spacing: em(1.23)
		text-align: center
		display: block
		border: none
		color: white
		width: 100%
		+media($lg-1130)
			margin-top: em(11)
			width: em(323)
		&:hover
			background: darken($orange,10)