section.module-contact_info_columns
	padding-top: em(47)
	text-align: center
	font-family: 'Gibson'
	+media($lg-1130)
		padding-top: em(90)
		padding-bottom: em(37)
	.column
		padding-bottom: em(35)
		+media($lg-1130)
			+span-columns(3)
			&:nth-child(4n+4)
				+omega()
	.info
		position: relative
		&:after
			content: ''
			display: block
			width: em(80)
			margin: 0 auto
			height: 1px
			background: #C9CED1
			+position(absolute, auto 0 0 0)
			+media($lg-1130)
				+position(absolute, em(66) em(-16) auto auto)
				height: em(80)
				width: 1px
	h5.title
		font-size: em(24)
		padding-bottom: em(33,24)
		color: #212121
	h6.name
		a
			font-size: em(20)
			padding-bottom: em(18,20)
			display: inline-block
	a.email
		font-size: em(18)
	.numbers
		font-size: em(18)
		padding-top: em(18,18)
		padding-bottom: em(32,18)
		+outer-container
		max-width: em(345,18)
		.col
			width: 50%
			float: left
			position: relative
			+media(min-width 1130px max-width 1379px)
				width: 100%
				padding-bottom: em(5)
			&:nth-child(even)
				a:before
					content: ''
					background: #505258
					height: 100%
					width: 2px
					display: block
					+position(absolute, -1px auto 0 0)
					+media(min-width 1130px max-width 1379px)
						display: none

		a
			color: #505258

