// datepick.js styling
.datepick-popup
	margin-top: em(20)
	font-family: 'Gibson'
	padding: em(20) em(20)
	background: white
	+box-shadow(0, 3px, 7px, 0, rgba(0,0,0,.3))
	z-index: 99999999
.date-filter
	border: none
	font-size: 100%
	a, span
		font-family: 'Gibson'
		display: block
		height: em(38)
		line-height: em(38)
	.datepick-month
		border: none
		th
			background: white
			color: #212121
	a
		color: #212121
	select
		font-weight: normal
		height: auto
		&:focus
			outline: none
	.datepick-month-header, .datepick-month-year, .datepick-ctrl, .datepick-nav
		background: white
		color: #212121
		font-family: 'Gibson'
	.datepick-cmd-today
		width: 39%
	.datepick-nav
		padding: 0 0 em(33)
		position: relative
		font-size: 100%
		text-align: center
		.datepick-cmd-today
			display: none
		.datepick-month-year
			font-size: em(20)
			padding-right: em(17,20)
			background: url('../../assets/images/icon-chevron_down_orange.svg') 100% no-repeat
			background-size: em(12,20)
			color: $orange
			border: none
			font-weight: normal
			appearance: none
			-moz-appearance: none /* Firefox */
			-webkit-appearance: none /* Safari and Chrome */
			&:nth-child(2)
				display: none
		a
			color: $orange
			background: url('../../assets/images/icons/arrow-right_orange.svg') 50% no-repeat transparent
			background-size: em(20)
			width: em(40)
			height: em(35)
			border: solid 1px lighten(gray, 40)
			+transition(none)
			+border-radius(3px)
			&:hover
				background-color: lighten(gray,45)
		.datepick-cmd-prev
			+position(absolute, null 0 em(-27) em(15))
			text-align: left
			@include transform(rotate(-180deg));
		.datepick-cmd-next
			+position(absolute, null em(15) em(-27) null)
	.datepick-month-row
		.datepick-month-header
			font-weight: normal
			select
				padding: 0 em(10)
			.datepick-month-year
				&:nth-child(1) select
				-moz-appearance: none
				-webkit-appearance: none
				&::-ms-expand
					display: none
				&:nth-child(2)
					display: none
	.datepick-cmd:hover
		color: $orange
	.datepick-ctrl
		padding-top: em(20)
		.datepick-cmd
			display: none
		.clear-all
			float: right
			margin-right: em(10)
			background: none
			padding: em(10)
			font-weight: 600
			&:hover
				color: $orange
	.datepick-month-header
		height: auto
		font-size: em(20)
		padding-bottom: em(12)
	.datepick-month
		padding: 0 em(15)
		width: 320px
		a, .datepick-weekend
			background: white
		a, span
			padding: 0
		th
			border: none
			font-size: em(12)
			span
				height: em(25,12)
		td
			background: white
			border: solid 1px lighten(gray, 40)
			.datepick-weekend
				background: white
			.datepick-highlight
				background: $orange
			.datepick-today
				background: lighten($orange, 40)
				color: #212121
			.datepick-selected
				background: $orange
				color: #212121




