section.module-event_details_bar
	padding: em(33) 0 em(16)
	background: white
	font-family: 'Gibson'
	font-weight: 600
	+outer-container
	+media($lg-1130)
		padding-bottom: em(27)
	+media($lg-1380)
		margin-top: em(28)
		padding-top: em(35)
	span
		font-size: em(20)
		line-height: em(18,20)
	.icon
		padding: em(5) 0 em(5) em(40)
		position: relative
		background: 0 em(3) no-repeat
		background-size: em(21) em(21)
		&.calender
			background-image: url('../../assets/images/icon-calendar_event_details_black.svg')
		&.clock
			background-image: url('../../assets/images/icon-clock_event_details_black.svg')
		&.marker
			background-image: url('../../assets/images/icon-location_event_details_black.svg')
		&.add-calender
			background-image: url('../../assets/images/icon-add_calendar_orange.svg')
	[class^='col']
		padding-bottom: em(26)
		+media($lg-1130)
			padding-bottom: 0
		// 	+span-columns(6)
		// 	&:nth-child(even)
		// 		+omega
	.col-date
		+media($lg-1130)
			+span-columns(2)
	.col-time
		+media($lg-1130)
			+span-columns(2)
			span
				white-space: nowrap
	.col-location
		max-width: em(300)
		+media($lg-1130)
			max-width: none
		+media($lg-1130)
			+span-columns(4)
			+shift(1)
		a
			color: #A5A9AC
			font-weight: normal
			font-size: em(20)
	.col-calender
		margin-top: em(17)
		+media($lg-1130)
			margin-top: 0
		+media($lg-1130)
			+span-columns(3)
			+omega
			padding-left: em(29)
			margin-top: em(4)
		a
			font-size: em(14)
