/*	people.nunjucks
 *	insights.nunjucks
 */

section.module-filter
	background: white
	font-family: 'Gibson'
	font-weight: 600
	+box-shadow(0, 0, em(4,30), 0, rgba(0,0,0,.3))
	+media($lg-1130)
		padding: em(30) 0

	// specifically to fit the keyword search in one row
	.keyword-dropdown-filter__keyword-search,
	.keyword-dropdown-filter__dropdowns
		+media(min-width 1130px max-width 1300px)
			font-size: 11px

	&.module-filter--collapsed
		+media($lg-1130)
			padding: em(30) 0
		.keyword-dropdown-filter__keyword-search,
		.keyword-dropdown-filter__dropdowns
			display: none
		.keyword-dropdown-filter__collapsed-btn
			display: block
		.wrap-alphabet
			+media($lg-1130)
				position: absolute
				bottom: auto
	// keyword-dropdown-filter block start
	.keyword-dropdown-filter
		position: relative
	.keyword-dropdown-filter__keyword-search
		float: left
		width: 20%
		display: none
		input[type='text']
			height: em(61)
			width: em(345)
			width: 100%
			padding-left: em(16)
			letter-spacing: .4px
			border: solid 1px #D7D7D7
			background: url('../../assets/images/icon-search_grey.png') 93% 50% no-repeat
			background-size: em(18)
		+placeholderStyles
			color: #949494
		+media($lg-1130)
			display: block
	.keyword-dropdown-filter__dropdowns
		display: none
		float: right
		color: #949494
		text-align: right
		+media($lg-1130)
			display: block
		+media($lg-1130)
			width: 80%
			float: left
		span.filter-label
			padding-right: em(16)
			letter-spacing: .4px
		.select2, .datepick-js
			text-align: left
			border: none
			padding: 0 em(18) 0 em(18)
			margin-left: em(12)
			width: auto !important
			+box-shadow(0, 3px, 7px, 0, rgba(0,0,0,.1))
			height: em(61)
			line-height: em(61)
			.select2-selection--single
				width: em(180) !important
			.selection
				display: inline-block
				vertical-align: middle
	.keyword-dropdown-filter__collapsed-btn
		display: none
		+position(absolute, em(-20) em(30) auto auto)
		background: none
		color: #A5A9AC
		padding: em(17) em(23) em(17) 0
		border: none
		letter-spacing: em(.4)
		background: url('../../assets/images/icon-selectbox_arrow.png') 100% 45% no-repeat
		background-size: em(12)
		+media($lg-1130)
			display: none
	// keyword-dropdown-filter block end
	.wrap-alphabet
		+outer-container()
		border-bottom: solid 2px #EFEFEF
		padding: em(30) 0 em(3) 0
		margin-bottom: em(13)
		+media($lg-1130)
			position: relative
			bottom: em(-27)
			padding-top: 0
			margin-bottom: 0
			border: none
		ul
			list-style: none
			li
				float: left
				&.active a, a:hover
					color: $orange
				a
					color: #BBBBBB
					padding: 0 em(13) em(20) 0
					display: inline-block
					+media($lg-1130)
						// padding: em(20) em(13) 0 0
		span.clear-span
			float: right
			padding-bottom: 1.25em
			+media($lg-1130)
				display: none
	.mobile-filter
		background: none
		color: #A5A9AC
		padding: em(17) em(23) em(17) 0
		border: none
		letter-spacing: em(.4)
		background: url('../../assets/images/icon-selectbox_arrow.png') 100% 50% no-repeat
		background-size: em(12)
		+media($lg-1130)
			display: none

// mobile filter modal
.modal-mobile_filter
	+position(fixed, 0 0 0 0)
	padding: em(25) em(15)
	background: #F4F5F8
	z-index: 999999
	font-family: 'Gibson'
	overflow-y: scroll
	height: 100%
	padding-bottom: em(70)
	display: none
	.results
		font-weight: 600
		letter-spacing: em(.4)
	.wrap-filters
		margin-top: em(25)
	.wrap-select
		background: white
		border: solid 1px #C9CED1
		padding: em(13) em(20)
		margin-bottom: em(15)
	.select2-container, .select2-dropdown
		display: block
		position: relative !important
		top: em(2) !important
		left: 0 !important


	.select2-container--default
		.select2-selection--single
			border: none
			position: relative
			background: transparent
			display: block
			+border-radius(0)
			height: auto
			.select2-selection__rendered
				font-family: 'Gibson'
				font-weight: 600
				color: #A5A9AC
				font-weight: 600
				letter-spacing: .4px
				padding: 0
			.select2-selection__arrow
				background: url('../../assets/images/icon-selectbox_arrow.png') 50% no-repeat
				background-size: 12px
				b
					border: none
	.select2-dropdown
		margin-top: em(16)
		padding-top: em(23)
		border: none
		border-top: solid 1px #C9CED1
		background: transparent
		.select2-results__options
			li
				font-family: 'Gibson'
				color: #949494
				font-size: em(14)
				letter-spacing: em(.4,14)
				margin-bottom: em(8,14)
				padding-left: 0
				&.select2-results__option--highlighted
					color: $orange
					background: none


	button.close
		+position(absolute, em(17) em(7) auto auto)
		background: url('../../assets/images/icon-close_black.svg') 50% no-repeat
		height: em(30)
		width: em(30)
		background-size: em(14) em(14)
		border: none
	.buttons
		+position(absolute, auto em(15) 0 em(15))
		z-index: 999999
		margin: 0 auto
		text-align: center
		max-width: em(345)
		button
			+button(14,50)
			width: em(165,14)
			display: inline-block
			border: none
			float: right
			&.clear-all
				background: #505258
				float: left
				&:hover
					background: darken(#505258,10)


// select box styling for desktop
section.module-filter
	.select2-container--default
		.select2-selection--single
			border: none
			position: relative
			background: transparent
			.select2-selection__rendered
				font-family: 'Gibson'
				font-weight: 600
				color: #A5A9AC
				font-weight: 600
				letter-spacing: .4px
				padding-left: 0
			.select2-selection__arrow
				background: url('../../assets/images/icon-selectbox_arrow.png') 50% no-repeat
				background-size: 12px
				b
					border: none
	.select2-dropdown
		display: block !important
		padding: em(17) em(13)
		// -ms-overflow-style: none
		+border-radius(0)
		border: none
		+box-shadow(0, 3px, 7px, 0, rgba(0,0,0,.3))
		.select2-search
			padding-bottom: em(22)
			.select2-search__field
				height: em(33)
				background: url('../../assets/images/icon-search_grey.png') 95% 50% no-repeat
				background-size: auto 70%
				border: 1px solid #DEE1E2
				&:focus
					outline: none
		.select2-results__options
			li
				font-family: 'Gibson'
				font-weight: 600
				color: #949494
				font-size: em(16)
				letter-spacing: .4px
				line-height: 1.4
				&.select2-results__option--highlighted
					background: $orange
					color: white

