// Appears in page hero headers
.hero-briefcase
	$b: &
	position: relative
	font-family: 'Gibson'
	+outer-container(em(1470))
	// ELEMENTS
	&__add-btn
		font-size: em(13)
		height: em(33,13)
		width: em(33,13)
		+position(absolute, em(15,13) em(15,13) auto auto)
		z-index: 9
		font-weight: 600
		background: url('../../assets/images/icons/briefcase-add-circle_white.svg') 0 43% no-repeat
		background-size: 33px
		color: white
		+media($lg-1130)
			padding: em(20,13) 0 em(20,13) em(48,13)
			top: em(46,13)
			width: auto
			height: auto
			background-size: 28px
		+media($lg-1380)
			background-size: 33px
		span
			display: none
			font-size: em(10)
			+position(relative, null null em(-50,10) em(-70,10))
			width: em(200)
			+media($lg-1130)
				font-size: inherit
				display: block
				+position(relative, 0 0 0 0)
				width: auto
		&:hover
			color: $orange
			background-image: url('../../assets/images/icons/briefcase-add-circle_orange.svg')
		+media($lg-1130)
			display: block
		+media(1750px)
			right: 0
	&__add-btn-pro-tip
		font-size: rem(12)
		+position(absolute, rem(80) rem(20) auto auto)
		width: rem(240)
		height: auto
		background: white
		color: #505258
		+border-radius(rem(5))
		padding: rem(10)
		display: none
		line-height: 1.4
		font-weight: normal
		+box-shadow(rem(2), rem(2), rem(3), 0, rgba(0,0,0,.1))
		z-index: 2
		cursor: pointer
		+media($lg-1130)
			display: block
		+media($lg-1380)
			top: rem(90)
		+media($lg-1680)
			top: rem(100)
		+media($lg-2000)
			top: rem(110)
		&:before
			content: ''
			display: block
			width: 0
			height: 0
			border-left: rem(10) solid transparent
			border-right: rem(10) solid transparent
			border-bottom: rem(10) solid white
			z-index: 2
			+position(absolute, rem(-8) rem(50) null null)
		&:after
			content: '×'
			color: gray
			font-size: rem(16)
			+position(absolute, rem(8) rem(10) null null)
		hr
			margin: rem(8) 0
			border-top: none
			border-left: none
			border-right: none
			border-color: gray
	// MODIFIERS
	&--orange
		#{$b}
			&__add-btn
				color: $orange
				background-image: url('../../assets/images/icons/briefcase-add-circle_orange.svg')
				&:hover
					color: darken($orange, 10)
	&-added
		span
			display: block