section.module-inpage_nav
	background: white
	padding: em(22) 0 0
	white-space: nowrap
	overflow-x: scroll
	font-family: 'Gibson'
	font-weight: 600
	-ms-overflow-style: none
	position: relative
	z-index: 2
	&::-webkit-scrollbar
		display: none
	+media($lg-1130)
		padding: em(20) 0 0
	&.module-inpage_nav--sticky
		+position(fixed, 0 0 auto em(250))
		z-index: 9
	.wrap-inpage_nav
		ul
			list-style: none
			+media($lg-1130)
				li
					float: left
					a
						display: block
				&.link-count-3
					li
						width: 33.33%
				&.link-count-4
					li
						width: 25%
				&.link-count-5
					li
						width: 20%
		li
			display: inline-block
			&.active a, a:hover
				color: $orange
				border-color: $orange
			a
				color: #A5A9AC
				font-weight: 600
				display: block
				text-align: center
				letter-spacing: 2px
				padding: em(10) em(38) em(28)
				border-bottom: transparent solid 4px
			hr
				display: block
				border: none
				height: 1px
				background: #D0D0D0
				width: 100%
				margin: 0