section.module-link_list_2_col
	padding: em(42) 0 em(60)
	background: white
	+media($lg-1130)
		padding-top: em(107)
		padding-bottom: em(117)
	&#leadership
		padding-bottom: 0
		/* added by sydor1 */
	.row
		max-width: em(1250)
	.header
		text-align: center
		padding: 0 0 em(57) 0
		color: #212121
		+media($lg-1130)
			padding-bottom: em(70)
		h2
			font-size: rem(32)
			/* added by sydor1 */
		h4
			+moduleHeader(#212121)
			span
				display: block
				+media($lg-1130)
					display: none
	.sub-text
		max-width: em(790)
		margin: 0 auto
		padding-top: em(23)
		position: relative
		p
			+moduleSubtext
		+media($lg-1130)
			display: block
	.featured-content
		padding: em(42) 0 0
	ul
		list-style: none
		font-family: 'Gibson'
		font-weight: 600
	li
		&:last-child a
			border-bottom: 1px solid #DEE1E2
		+media($lg-1130)
			float: left
			width: 50%
			padding: 0 em(15)
			&:nth-child(odd)
				clear: left
			&:nth-last-child(2) a
				border-bottom: 1px solid #DEE1E2
		a
			font-size: em(20)
			letter-spacing: 1px
			line-height: 1
			display: block
			position: relative
			background: url('../../assets/images/services/icon-chevron_right_orange.png') 100% 50% no-repeat
			background-size: 10px
			height: em(60,18)
			border-top: 1px solid #DEE1E2
			line-height: 1
			letter-spacing: 1px
			height: em(108,20)
			+media($lg-1130)
				background-position: 96% 50%
			span
				line-height: 18px
				padding-right: em(40,20)
				+v-align(absolute)
				+media($lg-1130)
					padding-left: em(20,20)


