section.module-location_cloud
	font-size: 10px
	padding: em(15) 0 em(40)
	text-align: center
	font-family: 'Gibson'
	font-weight: 600
	background: white
	+media($lg-1130)
		font-size: inherit
		padding: em(110) 0 em(73)
	.row
		max-width: em(1250)
	a
		font-size: em(18)
		height: em(110,18)
		line-height: em(110,18)
		margin-bottom: em(15,18)
		display: inline-block
		width: 49%
		color: #1F2228
		background: rgba(0,0,0,.04)
		&:nth-child(odd)
			float: left
		&:nth-child(even)
			float: right
		+media($lg-1130)
			width: 19.5%
			font-size: em(20)
			background: none
			height: em(145,20)
			line-height: em(145,20)
			margin-bottom: em(30,20)
			&:nth-child(odd), &:nth-child(even)
				float: none
		&:hover, &.active
			background: $orange
			color: white