section.module-office_head
	font-family: 'Gibson'
	padding: em(47) 0 em(51)
	+media($lg-1130)
		padding: em(63) 0 em(83)
	.row
		// max-width: em(970)
	.header
		padding-bottom: em(28)
		+media($lg-1130)
			padding-bottom: em(75)
			+shift(2)
		h5
			font-size: em(36)
			font-weight: 600
	.person
		.col-photo
			padding-bottom: em(25)
			+media($lg-1130)
				+span-columns(3)
				+shift(2)
			.photo
				height: em(432)
				background: 0 50% no-repeat
				background-size: auto 100%
				+media($lg-1130)
					background: 50% no-repeat
					background-size: cover
		.col-bio
			+media($lg-1130)
				+span-columns(5)
				padding-top: em(7)
			h3.name
				font-size: em(36)
				padding-bottom: em(24,36)
				font-weight: 600
			.bio
				padding-bottom: em(35)
				+media($lg-1130)
					padding-bottom: em(19)
				p
					font-size: em(20)
					line-height: em(36,20)
			.contact-info
				padding-bottom: em(29)
				+media($lg-1130)
					padding-bottom: em(45)
				a
					font-size: em(20)
					line-height: em(36,20)
					display: inline-block
					+media($lg-1130)
						font-size: em(18)
						line-height: em(36,18)
				.phone a
					color: #1F2228
			.view-bio
				font-size: em(13)
				letter-spacing: em(1,13)
				line-height: 1
				padding-top: em(3,13)
				padding-left: em(20,13)
				background: url('../../assets/images/icon-arrow-right-orange.png') 0 50% no-repeat
				background-size: em(14,13)
				display: inline-block
				font-family: 'Gibson'
				font-weight: 600
