section.module-offset_slider
	padding: em(60) 0 em(138)
	+media($lg-1130)
		padding: em(88) 0 em(220) 0
	+radial-gradient(circle at 50% 20%, #0A5097 10%, #013971 80%, #013971)
	.header
		text-align: center
		color: white
		padding-bottom: em(43)
		+media($lg-1130)
			padding-bottom: em(79)
		.title
			padding-bottom: em(23)
			+media($lg-1130)
				padding-bottom: em(19)
			h4
				+moduleHeader
		.sub-text
			max-width: em(650)
			margin: 0 auto
			p
				+moduleSubtext
	.slider-row
		padding: 0
		position: relative
		+media($lg-1130)
			max-width: none
	.slider-mobile
		+media($lg-1130)
			display: none
		+slick-dot-styling
		.slick-dots
			bottom: em(-88)
		.slick-slide.slick-cloned
			opacity: 0
	.slider-desktop
		display: none
		+media($lg-1130)
			display: block
		+slick-dot-styling
		.slick-dots
			bottom: em(-106)
		.card.set
			+outer-container
		.col-card
			width: 25%
			float: left
			padding: 0 em(15)
		.slick-slide.slick-cloned
			opacity: 0
	.col-card
		padding: 0 em(10)
	.card
		position: relative
		height: em(383)
		background: 50% no-repeat
		background-size: cover
		+media($lg-1130)
			height: em(432)
	.details
		+position(absolute, auto auto em(29) em(30))
		+media($lg-1130)
			left: em(19)
			bottom: em(33)
		.title
			+media($lg-1130)
				padding-bottom: em(18)
		h4
			color: white
			font-size: em(30)
			line-height: em(36,30)
			+media($lg-1130)
				font-size: em(32)
				line-height: em(36,32)
		.read-more
			font-size: em(13)
			letter-spacing: 1px
			padding-left: em(20,13)
			background: url('../../assets/images/icon-arrow-right-orange.png') 0 50% no-repeat
			background-size: 14px
			font-family: 'Gibson'
			font-weight: 600