section.module-page_footer_nav
	a
		display: block
		background: white
		position: relative
		+media($lg-1130)
			height: em(300)
		&:hover
			background: $orange
		&:hover span, &:hover h5
		 	color: white
	.row
		margin: 0 auto
		padding-top: em(45)
		padding-bottom: em(45)
		left: 0
		right: 0
		+media($lg-1130)
			+v-align(absolute, 45%)
			padding-top: 0
			padding-bottom: 0

	span
		font-size: em(12)
		bottom: em(4,12)
		letter-spacing: em(3,12)
		font-family: 'Gibson'
		font-weight: 600
		color: #A5A9AC
		position: relative
		+media($lg-1130)
			top: em(-10,12)
	h5
		font-size: em(36)
		line-height: em(36,36)
		letter-spacing: em(.75,36)
		max-width: em(800,36)
		font-family: 'Gibson'
		font-weight: 300
		+media($lg-1130)
			font-size: em(48)
			line-height: em(54,48)
			letter-spacing: em(.75,48)

