.pdf-modal
	+media(max-width 767px)
		font-size: 9px
	+media(min-width 768px max-width 1130px)
		font-size: 12px
	&.pdf-modal--active > .modal-fade-screen
		opacity: 1
		visibility: visible
	.modal-fade-screen
		// overlay
		@include position(fixed, 0 0 0 0)
		background-color: rgba(0, 0, 0, 0.85)
		opacity: 0
		transition: opacity 0.25s ease
		visibility: hidden
		z-index: 999999
	.modal-bg
		@include position(absolute, 0 0 0 0)
		cursor: pointer
	.modal-close
		cursor: pointer
	.modal-inner
		// +v-align(absolute)
		position: absolute
		top: em(50)
		background-color: #F4F5F8
		padding: em(34) em(29) em(20)
		margin: auto
		max-height: 95%
		overflow: auto
		position: relative
		transition: opacity 0.25s ease
		width: 95%
		+border-top-radius(5px)
		+border-bottom-radius(5px)
		+media($sm-480)
			width: em(780)
	.modal-close
		+position(absolute, em(30) em(18) null null)
		padding: em(20)
		height: em(20)
		width: em(20)
		background: url('../../assets/images/icons/pdf-modal-close_black.svg') 50% no-repeat
		background-size: em(20)
		box-sizing: border-box
	.modal-content
		.header
			padding-bottom: em(32)
			margin-bottom: em(38)
			border-bottom: solid 1px #D4D4D4
			h4
				font-size: em(36)
		.row
			padding: 0 0 em(37)
			&:last-child
				padding-bottom: em(20)
		label
			font-size: em(20)
			letter-spacing: em(.57)
			font-weight: 600
			padding-bottom: em(10)
			display: block
			span
				font-style: italic
				color: #979797
				font-weight: normal
		input:not([type=submit]), textarea
			font-size: 16px
			padding: em(5,16)
			height: em(30,16)
			border-radius: 0
			-webkit-appearance: none
			font-weight: normal
			display: block
			width: 100%
			border: solid 1px #CFCFCF
			+media(min-width 767px)
				font-size: em(16)
				padding: em(11,16)
				height: em(60)
		.document-link-wrap
			position: relative
			.copy-link
				display: block
				color: white
				background: $orange
				+position(absolute, 0 0 0 null)
				letter-spacing: em(1)
				width: em(88)
				vertical-align: top
				border: none
				&:hover
					background: darken($orange,10)
		textarea
			height: em(115)
			border-top: none
		button[type="submit"]
			+button
			+border-top-radius(3px)
			+border-bottom-radius(3px)
			width: em(217)
			display: inline-block
			float: right
			border: none

.pdf-modal
	&__status
		margin-top: em(18)
		display: inline-block
		max-width: 50%
	&__status-message
		display: none
		font-size: em(16)
		position: relative
		padding-left: em(25)
		line-height: 1.4
		// Modifiers
		&--success
			color: #2EB150
			&:before
				+fontawesome
				+position(absolute, 0 null null 0)
				content: '\f00c'
				margin-right: em(3)
		&--fail
			color: #c0392b
			+animation-iteration-count(0.5)
			&:before
				+fontawesome
				+position(absolute, 0 null null 0)
				content: '\f071'
				margin-right: em(3)















