section.module-people_grid
	padding: em(16)	0 em(50)
	+media($lg-1130)
		padding: em(59) 0
	.people-grid
		+outer-container
	.header
		text-align: center
		padding-bottom: em(34)
		+media($lg-1130)
			padding-bottom: em(45)
		&:after
			content: ''
			width: 100%
			height: 1px
			background: #C9CED1
			display: block
			position: relative
			top: em(-20)
			z-index: 0
		h5
			color: #13376F
			font-size: em(30)
			background: #F4F5F8
			font-weight: 600
			display: inline-block
			position: relative
			z-index: 1
			+media($lg-1130)
				font-size: em(36)
				padding: 0 em(43,36)
	&.four-column
		.vcard
			+media($lg-1130)
				+span-columns(3)
				display: none
				&:nth-child(4n+4)
					+omega
				&:nth-child(4n+1)
					clear: both
	+media($lg-1130)
		&.three-column
			.vcard
				+span-columns(4)
				display: none
				&:nth-child(3n+3)
					+omega
				&:nth-child(3n+1)
					clear: both
	.vcard
		+span-columns(12)
		display: none
		+omega
		font-family: 'Gibson'
		margin-bottom: em(9)
		background: white
		+media($lg-1130)
			margin-bottom: em(30)
	.col-photo
		+span-columns(4)
		background-size: auto 100%
		max-width: em(110)
		background-position: 0 50%
		background-repeat: no-repeat
		height: em(145)
		position: relative
		+media($lg-1130)
			+span-columns(12)
			height: auto
			max-width: 100%
			padding-bottom: 123%
			background-size: cover
			background-position: 50%
		img
			+position(absolute, 0 0 0 0)
			width: 100%
			z-index: 1
			opacity: 0
	.col-info
		+span-columns(8)
		+omega
		position: relative
		+media($lg-1130)
			+span-columns(12)
		.wrap-info
			padding-top: em(15)
			+media($lg-1130)
				padding: em(25) em(28) em(30)
		.name
			font-size: em(18)
			color: $orange
			font-weight: 600
			+media($lg-1130)
				font-size: em(24)
				padding-bottom: em(8,24)
		.title
			color: #505258
			padding-bottom: em(15)
			+media($lg-1130)
				padding-bottom: em(12,20)
		.industry
			color: $orange
			+media($lg-1130)
				padding-bottom: em(10)
		.email a
			color: $orange
			padding: em(5) 0
			display: block
			word-wrap: break-word
			+media($lg-1130)
				padding: 0
		.phone
			+media($lg-1130)
				padding-top: em(30)
			a
				color: #212121
				display: inline-block
		.title, .industry, .phone a
			+media($lg-1130)
				font-size: em(20)
		.email a
		 	+media($lg-1130)
		 		font-size: em(14)
		.vcard-link
			display: none
			font-size: em(13)
			+position(absolute, auto em(19,13) em(24,13) auto)
			padding: em(10,13) em(10,13) em(10,13) em(48,13)
			color: $orange
			font-family: 'Gibson'
			font-weight: 600
			background: url('../../assets/images/icon-vcard_orange.png') 0 50% no-repeat
			background-size: contain
			+media(min-width 1130px max-width 1380px)
				+position(relative, em(10) 0 0 0)
			+media($lg-1130)
				display: block
