// news-article.nunjucks
// event-detail.nunjucks

section.module-post_header
	.nav-top
		background: $orange
		height: em(75)
		position: relative
		.row
			position: relative
		.back, .briefcase
			a
				color: white
				font-family: 'Gibson'
				font-weight: 600
				display: inline-block
				height: em(33)
				width: em(33)
				+media($lg-1130)
					width: auto
				span
					display: none
					+media($lg-1130)
						display: block
						height: 100%
						vertical-align: middle
		.back
			float: left
			margin-top: em(21)
			+media($lg-1380)
				margin-top: em(20)
			a
				background: url('../../assets/images/icon-arrow_left_white.svg') 0 45% no-repeat
				background-size: em(20) em(14)
				letter-spacing: 1px
				+media($lg-1130)
					font-size: em(20)
					padding-left: em(30,20)
					background-image: url('../../assets/images/icon-chevron_left_white.png')
					background-position: 0 40%
					background-size: 10px
			span
				line-height: em(36,20)
		.briefcase
			float: right
			margin-top: em(21)
			+media($lg-1380)
				margin-top: em(20)
			a
				background: url('../../assets/images/icon-add_briefcase_white.svg') 0 45% no-repeat
				background-size: em(33)
				+position(relative, 0 0 0 0)
				padding: 0
				+media($lg-1130)
					font-size: em(13)
					height: em(36,13)
					padding-left: em(48,13)
					background-size: em(33,13)
			span
				line-height: em(36,13)
			.hero-briefcase-added span
				+media(max-width 1129px)
					display: block
					+position(absolute, null null em(-45) null)

	.post-meta
		padding: em(38) 0 0 0
		+media($lg-1130)
			padding: em(62) 0 0
		.tag, .date
			display: inline
			a
				font-size: em(13)
				padding: em(15,13) em(15,13) em(16,13)
				font-family: 'Gibson'
				letter-spacing: 1px
				font-weight: 600
				display: inline-block
		.tag
			a
				background: white
				color: #1F2228
		.date
			padding-left: em(10)
			position: relative
			+media($lg-1130)
				padding-left: 0
				left: em(-8)
			a
				color: #A5A9AC
				padding-right: 0
		.title
			font-family: 'Gibson'
			color: #13376F
			padding: em(42) 0 em(48)
			+media($lg-1130)
				padding: em(34) 0 em(20) 0
				+span-columns(8)
				float: none
			h1
				font-size: em(36)
				font-weight: 600
				line-height: 1
				+media($lg-1130)
					font-size: em(48)
					line-height: em(54,48)
					letter-spacing: -1px
		.social
			font-family: 'Gibson'
			font-weight: 600
			li
				display: inline-block
				margin-right: em(15)
				+media($lg-1130)
					margin-right: em(20)
			span
				font-size: em(13)
				letter-spacing: 1px
				color: #A5A9AC
				display: inline-block
				height: em(33,13)
				vertical-align: middle
			a
				height: em(33)
				width: em(33)
				display: inline-block
				background: 50% no-repeat
				background-size: em(32)
				+media($lg-1130)
					height: em(35)
					width: em(35)
					background-size: em(32)
			.email
				background-image: url('../../assets/images/icon-email.svg')
			.linkedin
				background-image: url('../../assets/images/icon-linkedin.svg')
			.twitter
				background-image: url('../../assets/images/icon-twitter.svg')
			.facebook
				background-image: url('../../assets/images/icon-facebook.svg')
