.module-quote_callout
	padding: em(29) 0 em(50) 0
	background: white
	color: #13376F
	font-family: 'Gibson'
	text-align: center
	+media($lg-1130)
		padding: em(72) 0 em(85) 0
	.row
		max-width: em(1200)
	.quote
		padding-bottom: em(29)
		+media($lg-1130)
			padding-bottom: em(24)
		p
			font-size: em(24)
			line-height: em(36,24)
			font-weight: 300
			+media($lg-1130)
				font-size: em(36)
				line-height: em(54,36)
	.source
		font-size: em(18)
		letter-spacing: 1px
		color: #A5A9AC
		font-weight: 600
		span
			font-weight: normal
			font-style: italic
