// Search Bar Styling
.search-desktop, .search-mobile
	.search-results
		+position(fixed, em(109) 0 0 0)
		display: none
		+media($lg-1130)
			+position(absolute, em(103) 0 0 0)
//Search Results list styles
.search-results
	font-family: 'Gibson'
	padding: em(10) 0 em(100)
	z-index: 9
	background: #F5F7F7
	text-align: left
	overflow-y: scroll
	-ms-overflow-style: none
	+media($lg-1130)
		padding: em(54,16) 0 em(100,16)
	.row
		// font-size: 10px
	.search-header
		padding-top: em(20)
		padding-bottom: em(20)
		.taxonomy
			font-size: em(12)
			letter-spacing: em(3,12)
			padding-bottom: em(10,12)
			font-weight: 600
			color: #A5A9AC
		.keyword
			font-size: em(36)
			color: #212121
			font-weight: 600
			+media($lg-1130)
				font-size: em(48)
	.category
		.header
			font-size: em(12)
			font-weight: 600
			color: #A5A9AC
			letter-spacing: em(3,12)
			border-bottom: solid 1px #D0D0D0
			padding: em(8,12) 0
			margin-bottom: em(10,12)
	.result
		border-bottom: solid 1px #EAEAEA
		a
			display: block
			padding: em(15) 0 em(15)
			+media($lg-1130)
				// padding-left: em(15)
			&:hover
				// background: rgba(0,0,0,.05)
				opacity: .7
	.category
		padding-bottom: em(30)
	.category
		&.services, &.other
			a
				font-size: em(25)
				font-weight: 600
				font-size: 1.125em
				font-weight: 500
	.category.offices
		.office
			+outer-container
			max-width: em(325)
			margin-left: 0
			color: #212121
			.col-photo
				+span-columns(4)
				background-size: cover
				background-position: 50%
				height: em(145)
			.col-info
				+span-columns(8)
				+omega
				position: relative
				padding: em(5) 0 0 em(13)
				.city
					font-size: em(18)
					font-weight: 600
				address
					padding: em(10) 0
				.numbers
					span
						display: block
	.category.people
		.results
			display: flex
			flex-wrap: wrap
		.person
			+outer-container
			max-width: em(325)
			margin-left: 0
			max-width: 320px
			display: flex
			width: 400px
			.col-photo
				+span-columns(4)
				background-size: cover
				background-position: 50%
				height: em(145)
				margin-right: 15px;
				width: 40%
			.col-info
				+span-columns(8)
				+omega
				position: relative
				width: 100%
				.wrap-info
					padding: em(18) 0 0 em(13)
					padding: 0
				.name
					font-size: em(18)
					color: $orange
					font-weight: 600
				.title
					color: #505258
					padding-bottom: em(21)
				.industry
					color: $orange
				.email
					padding: em(6) 0
					span
						color: $orange
						display: inline-block
						word-break: break-word
				.phone
					span
						color: #212121
						display: inline-block
	.view-all
		padding: em(30) 0
		+position(fixed, auto 0 em(-100) 0)
		background: #F5F7F7
		+box-shadow(0, 0, em(4,30), 0, rgba(0,0,0,.3))
		+transition(all .5s ease)
		+media($lg-1130)
			left: em(250)
		a
			+read-more-arrow(14)

.search-results--open
	.view-all
		bottom: 0


.search-results
	&__no-results
		padding: rem(45) 0
		text-align: center
	&__no-results-title
		font-size: rem(30)
		line-height: 1.4
		padding-bottom: rem(10)
		+media($lg-1130)
			font-size: rem(40)
	&__no-results-copy
		+media($lg-1130)
			font-size: rem(20)
	&__no-results-term
		color: $orange
		display: inline-block

























