/*
 * service-industry.nunjucks
 * our-firm.nunjucks
 */

section.module-stat_callout_4
	background: white
	padding: em(53) 0 0 0
	text-align: center
	font-family: 'Gibson'
	+media($lg-1130)
		padding: em(37) 0 0 0
	.header
		padding: em(10) 0 em(69)
		max-width: em(900)
		margin: 0 auto
		+media($lg-1130)
			padding: em(56) 0 em(105)
		h5
			font-size: em(30)
			line-height: em(36,30)
			font-weight: 600
			+media($lg-1130)
				font-size: em(48)
				line-height: em(54,48)
		.sub-text
			padding-top: em(19)
			+media($lg-1130)
				padding-top: em(16)
			p
				font-size: em(20)
				font-family: 'Georgia'
				line-height: em(36,20)
	.wrap
		+outer-container
	.col-stat
		width: 50%
		float: left
		padding-bottom: em(40)
		position: relative
		+media($lg-1130)
			width: 25%
			padding-bottom: em(51)
		&:after
			display: none
			content: ""
			background: #C9CED1
			width: 1px
			height: em(55)
			+position(absolute, em(28) 0 auto auto)
		&:nth-child(odd):after
			display: block
		+media($lg-1130)
			&:nth-child(2):after
				display: block
		.stat
			font-size: em(80)
			line-height: 1
			color: #13376F
			font-weight: 300
			letter-spacing: -1.6px
			+media($lg-1130)
				font-size: em(100)
				letter-spacing: -2px
		.description
			padding: em(6) em(10) 0
			font-family: 'Gibson'
			+media($lg-1130)
				padding: em(7) em(25) 0
			h6
				font-size: em(20)
				letter-spacing: 1px
				font-weight: 600
				color: #A5A9AC
			p
				line-height: em(18)
				color: #000000
				+media($lg-1130)
					font-size: em(18)
					line-height: em(24,18)
					padding-top: em(13,18)
	.cta
		text-align: center
		padding: em(32) 0 em(70)
		+media($lg-1130)
			padding: em(81) 0 em(129) 0
		a
			font-size: em(18)
			padding: em(2,18) em(38,18) 0 0
			font-weight: 600
			letter-spacing: em(.9,18)
			display: inline-block
			background: url('../../assets/images/services/icon-chevron_right_orange.png') 100% 50% no-repeat
			background-size: auto em(14,18)
			+media($lg-1130)
				font-size: em(14)
				background-size: auto em(12,14)
				padding-right: em(25,14)