.trash
	padding: em(5)
	border: none
	background: none
	display: inline-block
	&:hover .trash__can
		transform: rotate(-45deg)
		transition: transform 250ms
	.trash__icon
		font-size: 3px
		font-family: 'Titillium Web', sans-serif
		background: #A5A9AC
		width: 15px
		height: 15px
		border: none
		display: inline-block
		margin: 0 auto
		position: relative
		+border-bottom-radius(em(6))
	.trash__can
		position: absolute
		height: 2px
		background: #A5A9AC
		top: -4px
		left: -1px
		right: -1px
		+border-top-radius(em(10))
		transform: rotate(0deg)
		transition: transform 250ms
		transform-origin: 19% 100%
		&:after
			content: ''
			position: absolute
			width: 5px
			height: 1px
			top: -2px
			left: 6px
			background: #A5A9AC
			+border-top-radius(em(10))
			transform: rotate(0deg)
			transition: transform 250ms
			transform-origin: 19% 100%
	i
		position: relative
		width: 1px
		height: 9px
		background: #fff
		display: block
		margin: em(14) auto
		+border-top-radius(em(5))
		+border-bottom-radius(em(5))
		&:after
			content: ''
			width: 1px
			height: 9px
			background: #fff
			position: absolute
			left: -4px
			+border-top-radius(em(5))
			+border-bottom-radius(em(5))
		&:before
			content: ''
			width: 1px
			height: 9px
			background: #fff
			position: absolute
			right: -4px
			+border-top-radius(em(5))
			+border-bottom-radius(em(5))