section.module-vcard_slider
	padding: em(56) 0 em(50) 0
	+radial-gradient(#0A5097, #054D99)
	+media($lg-1130)
		padding: em(85) 0 em(114) 0
	.header
		text-align: center
		padding-bottom: em(45)
		+media($lg-1130)
			padding-bottom: em(71)
		h4
			+moduleHeader(white)
	.slick-arrow
		display: none !important
	+slick-dot-styling
	.slick-dots
		bottom: em(-60)
		+media($lg-1130)
			bottom: em(-88)

	.wrap-vcard_set
		+outer-container
		max-width: em(1125)
		font-family: 'Gibson'
		.col-vcard
			margin-bottom: em(11)
			+outer-container
			+media($lg-1130)
				width: 33.33%
				float: left
				padding: 0 em(15)
			.vcard
				background: white
				+outer-container
			.col-photo
				+span-columns(4)
				background-size: cover
				background-position: 50%
				height: em(145)
				+media($sm-680)
					height: em(200)
				+media($lg-1130)
					+span-columns(12)
					height: em(432)

			.col-info
				+span-columns(8)
				+omega
				position: relative
				+media($lg-1130)
					+span-columns(12)
				.wrap-info
					padding-top: em(15)
					+media($lg-1130)
						padding: em(25) em(28) em(30)
				.name
					font-size: em(18)
					color: $orange
					font-weight: 600
					+media($lg-1130)
						font-size: em(24)
						padding-bottom: em(8,24)
				.title
					color: #505258
					padding: em(5) 0 em(15)
					+media($lg-1130)
						padding: 0 0 em(12,20)
				.industry
					color: $orange
					+media($lg-1130)
						padding-bottom: em(10)
				.email
					padding: em(7) 0
					+media($lg-1130)
						padding: 0
					a
						color: $orange
						display: inline-block
				.phone
					+media($lg-1130)
						padding-top: em(30)
					a
						color: #212121
						display: inline-block
				.title, .industry, .email a, .phone a
					+media($lg-1130)
						font-size: em(20)
				.vcard-link
					display: none
					font-size: em(13)
					+position(absolute, auto em(19,13) em(24,13) auto)
					padding: em(10,13) em(10,13) em(10,13) em(48,13)
					color: $orange
					font-weight: 600
					background: url('../../assets/images/icon-vcard_orange.png') 0 50% no-repeat
					background-size: contain
					+media($lg-1130)
						display: block
	.wrap-vcard_set--centered
		+media($lg-1130)
			text-align: center
			.col-vcard
				float: none
				display: inline-block
			.wrap-info
				text-align: left