/**
 * GIBSON
 */

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-Italic.eot');
	src: url('../../assets/fonts/Gibson/Gibson-Italic.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-Italic.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-BoldItalic.eot');
	src: url('../../assets/fonts/Gibson/Gibson-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-BoldItalic.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-Light.eot');
	src: url('../../assets/fonts/Gibson/Gibson-Light.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-Light.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-Regular.eot');
	src: url('../../assets/fonts/Gibson/Gibson-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-Regular.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-Bold.eot');
	src: url('../../assets/fonts/Gibson/Gibson-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-Bold.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-LightIt.eot');
	src: url('../../assets/fonts/Gibson/Gibson-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-LightIt.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-SemiboldIt.eot');
	src: url('../../assets/fonts/Gibson/Gibson-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-SemiboldIt.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Gibson';
	src: url('../../assets/fonts/Gibson/Gibson-SemiBold.eot');
	src: url('../../assets/fonts/Gibson/Gibson-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gibson/Gibson-SemiBold.woff') format('woff'),
		url('../../assets/fonts/Gibson/Gibson-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'SDGeorgiaLight';
	src: url('../../assets/fonts/SDGeorgiaLight/SDGeorgiaLight.eot');
	src: url('../../assets/fonts/SDGeorgiaLight/SDGeorgiaLight.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/SDGeorgiaLight/SDGeorgiaLight.woff') format('woff'),
		url('../../assets/fonts/SDGeorgiaLight/SDGeorgiaLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Roman.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Roman.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Roman.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Roman.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Italic.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Italic.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Italic.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Italic.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-LightItalic.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-LightItalic.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-LightItalic.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Chronicle Display XLight';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLight.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLight.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLight.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLight.ttf') format('truetype');
// 	font-weight: 200;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Chronicle Display Semi';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-SemiItalic.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-SemiItalic.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-SemiItalic.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-SemiItalic.ttf') format('truetype');
// 	font-weight: 600;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BlackItalic.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BlackItalic.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BlackItalic.ttf') format('truetype');
// 	font-weight: 900;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Chronicle Display XLight';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLightItalic.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLightItalic.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLightItalic.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-XLightItalic.ttf') format('truetype');
// 	font-weight: 200;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Black.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Black.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Black.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Black.ttf') format('truetype');
// 	font-weight: 900;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Chronicle Display Semi';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Semi.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Semi.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Semi.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Semi.ttf') format('truetype');
// 	font-weight: 600;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Light.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Light.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Light.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Light.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Bold.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Bold.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Bold.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-Bold.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Chronicle Display';
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BoldItalic.eot');
// 	src: url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BoldItalic.woff') format('woff'),
// 		url('../../assets/fonts/ChronicleDisplay/ChronicleDisplay-BoldItalic.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: italic;
// }


// /**
//  * CHRONICLE TEXT G1
//  */


//  @font-face {
//  	font-family: 'Chronicle Text G1';
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Bold.eot');
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Bold.eot?#iefix') format('embedded-opentype'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Bold.woff') format('woff'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Bold.ttf') format('truetype');
//  	font-weight: bold;
//  	font-style: normal;
//  }

//  @font-face {
//  	font-family: 'Chronicle Text G1';
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Italic.eot');
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Italic.eot?#iefix') format('embedded-opentype'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Italic.woff') format('woff'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Italic.ttf') format('truetype');
//  	font-weight: normal;
//  	font-style: italic;
//  }

//  @font-face {
//  	font-family: 'Chronicle Text G1';
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Roman.eot');
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Roman.eot?#iefix') format('embedded-opentype'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Roman.woff') format('woff'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Roman.ttf') format('truetype');
//  	font-weight: normal;
//  	font-style: normal;
//  }

//  @font-face {
//  	font-family: 'Chronicle Text G1';
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-BoldItalic.eot');
//  	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-BoldItalic.eot?#iefix') format('embedded-opentype'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-BoldItalic.woff') format('woff'),
//  		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-BoldItalic.ttf') format('truetype');
//  	font-weight: bold;
//  	font-style: italic;
//  }

// 	 @font-face {
// 	 	font-family: 'Chronicle Text G1 Semi';
// 	 	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-SemiItalic.eot');
// 	 	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-SemiItalic.eot?#iefix') format('embedded-opentype'),
// 	 		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-SemiItalic.woff') format('woff'),
// 	 		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-SemiItalic.ttf') format('truetype');
// 	 	font-weight: 600;
// 	 	font-style: italic;
// 	 }

// 	 @font-face {
// 	 	font-family: 'Chronicle Text G1 Semi';
// 	 	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Semi.eot');
// 	 	src: url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Semi.eot?#iefix') format('embedded-opentype'),
// 	 		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Semi.woff') format('woff'),
// 	 		url('../../assets/fonts/ChronicleTextG1/ChronicleTextG1-Semi.ttf') format('truetype');
// 	 	font-weight: 600;
// 	 	font-style: normal;
// 	 }