#footer
	background: #1F2228
	color: #C9CED1
	padding: em(42) 0 em(31)
	font-family: 'Gibson'
	+media($lg-1130)
		padding: em(77) 0 em(40)
	a
		text-decoration: none
	ul
		list-style: none
	.widget-header
		font-size: em(24)
		padding-bottom: em(4,24)
		margin-bottom: em(10,24)
		line-height: 46px
		letter-spacing: -.4px
		border-bottom: solid 1px #505258
		+media($lg-1130)
			padding-bottom: em(6,24)
			margin-bottom: em(9,24)
	.col-topics
		display: none
		+media($lg-1130)
			display: block
			+span-columns(8 of 12)
		.widget-header
			+media($lg-1130)
				margin-right: em(75,24)
		.column
			padding-top: em(20)
			float: left;
			display: block;
			width: 50%;
		ul li a
			font-size: em(20)
			padding: em(12,20) 0  em(12,20) em(76,20)
			margin-bottom: em(10,20)
			letter-spacing: .4px
			line-height: 23px
			display: inline-block
			color: #C9CED1
			background: transparent 2px 0 no-repeat
			background-size: em(40,20)
	.col-right
		+media($lg-1130)
			+span-columns(4 of 12)
			+omega
		.email-opt-in
			.copy
				padding-bottom: em(23)
				+media($lg-1130)
					padding-bottom: em(20)
				p
					font-size: em(18)
					line-height: em(36,18)
					+media($lg-1130)
						font-size: em(20)
						line-height: em(33,20)
			.wrap-input
				position: relative
				width: auto
				max-width: em(345)
				+media($lg-1130)
					max-width: none
			input[type="text"]
				border: none
				font-size: em(18)
				height: em(47,18)
				padding: em(13,18) em(11,18)
				width: 100%
				display: block
				vertical-align: middle
			input[type="submit"]
				+position(absolute, 0 0 0 auto)
				font-size: em(13)
				width: em(88,13)
				height: em(47,13)
				line-height: em(47,13)
				letter-spacing: 1px
				color: white
				display: inline-block
				vertical-align: middle
				background: $orange
				border: none
				+media($lg-1130)
					width: em(95,13)
		.languages
			padding-top: em(49)
			+media($lg-1130)
				padding-top: em(50)
			ul
				+media($lg-1130)
					padding-top: em(6)
			li
				line-height: em(36)
				+media($lg-1130)
					line-height: em(31)
				a
					color: #C9CED1
					font-size: em(18)
					&:hover
						color: darken(#C9CED1, 10)
#footer
	.col-topics .column li
		.briefcase
			background-image: url('../../assets/images/topic-icons/briefcase.png')
		.buildings
			background-image: url('../../assets/images/topic-icons/buildings.png')
		.capital-building
			background-image: url('../../assets/images/topic-icons/capital-building.png')
		.gavel
			background-image: url('../../assets/images/topic-icons/gavel.png')
		.globe
			background-image: url('../../assets/images/topic-icons/globe.png')
		.health-cross
			background-image: url('../../assets/images/topic-icons/health-cross.png')
		.lock
			background-image: url('../../assets/images/topic-icons/lock.png')
		.paperwork
			background-image: url('../../assets/images/topic-icons/paperwork.png')



#footer
	.row-2
		hr
			margin: em(35) 0 em(10)
			height: 1px
			background: #505258
			border: none
			+media($lg-1130)
				margin: em(53) 0 em(31)
		.home
			a
				font-size: em(11)
				color: #A5A9AC
				letter-spacing: .85px
				font-weight: 600
				+media($lg-1130)
					font-size: em(13)
					float: left
		.copy-right
			text-align: center
			padding-top: em(38)
			+media($lg-1130)
				float: right
				padding-top: 0
			a
				font-size: em(10)
				line-height: 1
				font-weight: 600
				letter-spacing: 1px
				color: #A5A9AC
				line-height: 18px
				+media($lg-1130)
					font-size: em(13)
			li
				display: inline-block
				&:nth-child(1)
					display: block
					+media($lg-1130)
						display: inline-block
						a
							border-right: solid 2px #A5A9AC
							padding-right: em(13,13)
							margin-right: em(13,13)
				&:nth-child(2)
					a
						border-right: solid 1px #A5A9AC
						padding-right: em(12,10)
						margin-right: em(12,10)
						+media($lg-1130)
							border-width: 2px