//Required Styles
@import '../../bower_components/normalize-css/normalize.css'

@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss'
@import '../grid_settings'
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss'

@import '../../bower_components/typi/scss/typi.scss'

// select2
@import '../../bower_components/select2/dist/css/select2.css'

// slick slider
@import '../../bower_components/slick-carousel/slick/slick.scss'
@import '../../bower_components/slick-carousel/slick/slick-theme.scss'

// animate.css
@import '../../bower_components/animate.css/_animate.min'

//Global
@import 'variables'
@import 'type'
@import 'fonts'
@import 'mixins'
@import 'sticky-secondary'

//Page Global
@import 'header'
@import 'footer'

html
	overflow-x: hidden
	overflow-y: scroll
	// overflow: -moz-scrollbars-vertical
	// -ms-overflow-style: scrollbar
html.no-scroll
	overflow: hidden
	position: relative
	+media($md-max-768)
		height: 100%
	body
		overflow: hidden
		position: relative
		overflow: -moz-scrollbars-vertical
		+media($md-max-768)
			height: 100%

body
	font-size: 16px
	font-family: 'Georgia'

img
	max-width: 100%

ul,ol,p,h1,h2,h3,h4,h5,h6,hr,blockquote,button
	margin: 0
	padding: 0

button:focus, div:focus, a:focus, span:focus, input:focus, textarea:focus
	outline: none

h1,h2,h3,h4,h5,h6
	font-size: em(16)
	font-weight: 600
	font-family: 'Gibson'
	span
		+media($lg-1130)
			display: block

a, input
	+transition(all .5s ease)

a
	text-decoration: none
	color: $orange
	&:hover
		color: darken($orange,10)

#screen-size
	position: relative
	z-index: 0
	+media($lg-1130)
		z-index: 1

.row
	+outer-container(em(1470))
	padding: 0 em(15)
	+media($lg-1130)
		padding: 0 em(30)
	+media(1750px)
		padding: 0
	.row
		padding: 0

.row.narrow
	max-width: em(973)


#page-container
	padding-top: em(109)
	+media($lg-1130)
		padding: em(103) 0 0 em(250)
		font-size: 13px
	+media($lg-1380)
		font-size: 14px
	+media($lg-1680)
		font-size: 16px
	+media(min-width 2000px)
		font-size: 18px
.page-content
	background: #F4F5F8

.bg-gray
	background: #F4F5F8 !important

.bg-white
	background: white !important


// code added by sydor1 begin
.page-logos
	display: flex
	flex-wrap: wrap
	justify-content: space-around
.page-logos a
	padding: 0 5px
.page-logos a:first-of-type
	padding-left: 0
.page-logos a:last-of-type
	padding-right: 0
.photogal
	display: flex
	flex-wrap: wrap
.photogal img
	margin: 5px !important
	width: 45%
	height: 45%

section#diversityUpdata ul.slick-dots, section#diversityUpdata .header
	display: none !important
section#diversityUpdata.module-offset_slider
	padding: 3em 0

@media print, (min-width: 426px) and (max-width: 1024px)
	section#diversityUpdata.module-offset_slider .card
		/*width: calc(100vh / 1.5);*/
	section#diversityUpdata.module-offset_slider .slick-slide
		width: calc(100vw / 2.5) !important

// code added by sydor1 end

/*-------------Added by Sydor1 on 6/8 - Template Tables - Content Section----------------------*/
#template-bio section.module-post_content table td,
#template-bio section.module-post_content table p,
#template-service_detail section.module-post_content table td,
#template-service_detail section.module-post_content table p
	font-size: 1.125em
	background: green

#template-bio section.module-post_content table td,
#template-service_detail section.module-post_content table td
	width: 100%
	border-bottom: 1px solid #ccc
	display: block

#template-bio section.module-post_content table tr:first-of-type td:first-of-type,
#template-service_detail section.module-post_content table tr:first-of-type td:first-of-type
	border-top: 1px solid #ccc

#template-bio section.module-post_content table td p,
#template-service_detail section.module-post_content table td p
	padding: 5px 0 5px 10px

#template-bio section.module-post_content table tr,
#template-service_detail section.module-post_content table tr
	display: flex
	flex-direction: column

#template-bio section.module-post_content table td:last-child,
#template-service_detail section.module-post_content table td:last-child
	padding-left: 0

@media print, (min-width: 736px)
	#template-bio section.module-post_content table td,
	#template-bio section.module-post_content table p,
	#template-service_detail section.module-post_content table td,
	#template-service_detail section.module-post_content table p
		font-size: 1em
	#template-bio section.module-post_content table tr,
	#template-service_detail section.module-post_content table tr
		flex-direction: row

	#template-bio section.module-post_content table tr:first-of-type td,
	#template-service_detail section.module-post_content table tr:first-of-type td
		border-top: 1px solid #ccc
@media print, (min-width: 768px)
	#template-bio section.module-post_content table tr td:first-of-type
		width: 45%
	#template-bio section.module-post_content table tr td:nth-of-type(2),
	#template-service_detail section.module-post_content table tr td:nth-of-type(2)
		padding-left: 5%
@media print, (min-width: 1024px)
	#template-bio section.module-post_content table td,
	#template-bio section.module-post_content table p,
	#template-service_detail section.module-post_content table td,
	#template-service_detail section.module-post_content table p
		font-size: 1.125em


/*-------------Added by Sydor1 on 6/8 - Template Tables - Content Section----------------------*/