.nav-mobile
	+position(fixed, 0 0 auto 0)
	padding-bottom: em(15)
	text-align: center
	background: white
	z-index: 999
	+media($lg-1130)
		display: none
	.hamburger-btn
		+position(absolute, em(17) auto auto em(15))
		width: em(20)
	.logo
		display: inline-block
		margin: 0 auto
		width: em(125)
		padding: em(14) 0 em(12)
		+media($md-768)
			width: auto
			padding-bottom: em(9)
		img
			height: em(20)
			width: 100%
		.tablet
			display: none
			height: em(27)
			+media($md-768)
				display: block
		.mobile
			+media($md-768)
				display: none
	button.briefcase
		+position(absolute, em(15) em(15) auto auto)
		padding: 0
		width: em(20)
		background: none
		border: none
	.search-mobile
		padding: 0 em(15)
		font-family: 'Gibson'
		position: relative
		input
			font-size: em(13)
			height: em(44,13)
			padding: 0 em(11,13) 0
			border: solid 1px #C9CED1
			+border-top-radius(2px)
			+border-bottom-radius(2px)
			width: 100%
			font-weight: normal
		.search-toggle
			+v-align(absolute,50%)
			right: em(30)
			background: url('../../assets/images/icon-search_orange.svg') 50% no-repeat
			background-size: contain
			height: em(17)
			width: em(17)
			border: none
			+transition(all .2s ease)
			&.active
				background-image: url('../../assets/images/icon-close_orange.svg')


#main-nav
	+position(fixed, 0 auto 0 0)
	$sliding-panel-width: em(292)
	padding: 0 em(15) 0
	+size($sliding-panel-width 100%)
	+transform(translateX(- $sliding-panel-width))
	+transition(all 0.25s linear)
	background: #fff
	font-family: 'Gibson'
	font-weight: 600
	-webkit-overflow-scrolling: touch
	overflow-y: hidden
	overflow-x: hidden
	z-index: 999999
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5)
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5)
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5)
	+media($lg-1130)
		+transform(translateX(0))
		width: em(250)
		padding-left: 0
		padding-top: 0
	&.is-visible
		+transform(translateX(0))
	.scroll-hide
		margin-right: em(-15)
		padding-right: em(30)
		overflow-x: hidden
		overflow-y: auto
		// -ms-overflow-style: -ms-autohiding-scrollbar
		::-webkit-scrollbar
			display: none
		::-webkit-scrollbar
			width: 0px
			background: transparent
		-webkit-overflow-scrolling: touch
		height: 100%
		+media($lg-1130)
			overflow-y: scroll
	.logo
		background: #13376F
		display: none
		+media($lg-1130)
			display: block
			+position(absolute, 0 0 auto 0)
			z-index: 999
		img
			padding: em(44) em(42) em(46)
	ul
		list-style: none
	nav.primary, nav.secondary
		> ul > li.active > a
			color: $orange
			border-color: $orange
		.has-sub_menu
			> a
				background: 89% 45% no-repeat
				background-size: 13px 10px
			> a:hover
				background-image: url("../../assets/images/icon-chevron_down_orange.svg")
			&.open > a
				background-image: url("../../assets/images/icon-chevron_up_orange.svg")
			&.active
				> a
					color: $orange
					border-color: $orange
				.sub-menu
					display: block
			&.active.has-sub_menu > a
				background-image: url("../../assets/images/icon-chevron_up_orange.svg")
			a.active
				color: $orange
	nav.primary
		.has-sub_menu
			> a
				background-image: url('../../assets/images/icon-chevron_down_black.svg')
	nav.secondary
		.has-sub_menu
			> a
				background-image: url("../../assets/images/icon-chevron_down_gray.svg")
	.sub-menu
		display: none
		list-style: none
	a
		text-decoration: none
	.find-box
		+position(absolute, 0 em(15) auto em(15))
		padding-top: em(21)
		z-index: 99
		background: white
		+media($lg-1130)
			display: none
		a
			background: $orange
			margin-bottom: em(10)
			height: em(60)
			line-height: em(60)
			padding: 0 em(15)
			letter-spacing: 1px
			+border-bottom-radius(2px)
			+border-top-radius(2px)
			display: block
			text-align: center
			color: white
			&:hover
				background: darken($orange,10)
	.wrap-nav
		min-height: 100%
		height: 100%
		position: relative
		box-sizing: border-box
		overflow-y: scroll
		padding: em(148) 0 0
		-ms-overflow-style: none
		::-webkit-scrollbar
			display: none
		::-webkit-scrollbar
			width: 0px
			background: transparent
		+media($lg-1130)
			padding: em(182) 0 em(200)
			height: auto
			overflow: hidden
	nav.primary
		padding-top: em(23)
		padding-bottom: em(10)
		+media($lg-1130)
			padding-top: em(34)
			padding-bottom: 0
		> ul
			> li
				+media($lg-1130)
					&:last-child
						margin-bottom: em(22)
				> a
					padding: em(16,20) 0
					+media($lg-1130)
						border-left: solid 8px transparent
				a
					color: #1F2228
					display: block
					+media($lg-1130)
						font-size: em(20)
						padding-left: em(35,20)
					&:hover
						color: $orange
						border-color: $orange
				ul.sub-menu
					padding-left: em(10)
					+media($lg-1130)
						padding: 0 0 0 em(54)
					li
						a
							font-size: em(13)
							padding: em(10,13) 0
							display: block
							line-height: 1.4
							color: #A5A9AC
							letter-spacing: .72px
							&:hover
								color: $orange
								border-color: transparent

	nav.secondary
		> ul
			> li
				> a
					padding: em(17,20) 0
					+media($lg-1130)
						border-left: solid 8px transparent
				a
					color: darken(#B4B8BA, 20)
					display: block
					+media($lg-1130)
						padding-left: em(35)
					&:hover
						color: $orange
						border-color: $orange
				ul.sub-menu
					padding-left: em(10)
					+media($lg-1130)
						padding-top: em(10)
						padding-left: em(54)
					li
						a
							font-size: em(13)
							padding: em(13,13) 0
							display: block
							line-height: 1.4
							color: darken(#A5A9AC, 20)
							font-weight: normal
							letter-spacing: .72px
							&:hover
								color: orange
	hr.divider
		display: none
		border-bottom: 0
		border-color: #A5A9AC
		+media($lg-1130)
			display: block
			width: em(22)
			margin: 0 0 em(27) em(43)
			text-align: left
	.nav-footer
		background: white
		padding-top: em(20)
		+media($lg-1130)
			+position(absolute, auto auto em(15) 0)
			padding: em(38) 0 0 em(35)
	.briefcase
		background: url('../../assets/images/icon-briefcase-gray.png') 0 50% no-repeat
		background-size: em(16)
		padding: em(2) 0 0 em(26)
		margin-left: em(8)
		margin-top: em(7)
		letter-spacing: 1px
		display: inline-block
		color: #000000
		position: relative
		&:hover
			color: $orange
		&.active
			color: $orange
			background-image: url('../../assets/images/icon-briefcase-orange.png')
			&:before
				content: ""
				display: block
				background: $orange
				width: em(6)
				height: em(37)
				+position(absolute, em(-11) auto auto em(-43))
		.notification
			font-size: em(10)
			+position(absolute, em(-10,10) auto auto em(-8,10))
			height: em(18,10)
			width: em(18,10)
			+border-radius(50%)
			line-height: em(20,10)
			text-align: center
			vertical-align: middle
			background: $orange
			color: white

	.social-media
		padding-top: em(18)
		left: em(-10)
		bottom: em(-10)
		position: relative
		white-space: nowrap
		+media($lg-1130)
			padding-top: em(55)
			left: em(-13)
			bottom: em(-13)
		li
			display: inline-block
			margin-right: em(16)
			+media($lg-1130)
				margin-right: 0
		a
			height: em(60)
			width: em(60)
			display: inline-block
			background: 50% no-repeat
			background-size: em(40)
			+media($lg-1130)
				height: em(60)
				width: em(60)
				background-size: em(32)
		.linkedin
			background-image: url('../../assets/images/icons/linkedin-circle_blue.svg')
			&:hover
				background-image: url('../../assets/images/icons/linkedin-circle_orange.svg')
		.twitter
			background-image: url('../../assets/images/icons/twitter-circle_blue.svg')
			&:hover
				background-image: url('../../assets/images/icons/twitter-circle_orange.svg')
		.facebook
			background-image: url('../../assets/images/icons/facebook-circle_blue.svg')
			&:hover
				background-image: url('../../assets/images/icons/facebook-circle_orange.svg')


.sliding-panel-fade-screen, .search-fade-screen
	+position(fixed, 0 0 0 0)
	+transition
	background: #000
	opacity: 0
	visibility: hidden
	z-index: 9999
	&.is-visible
		opacity: 0.4
		visibility: visible

.search-fade-screen
	+media(max-width 1129px)
		display: none !important
	&.search-fade-screen--active
		opacity: 0.7
		visibility: visible

.search-desktop
	display: none
	font-family: 'Gibson'
	position: fixed
	top: 0
	right: 0
	// bottom: 0
	left: em(250)
	z-index: 10000
	+transition(all .5s ease)
	+media($lg-1130)
		display: block
	&.search-up
		top: em(-84,13)
	&.search-desktop--active
		bottom: 0
		top: 0
	input
		width: 100%
		font-size: em(30)
		padding: em(37,30) em(97,30) em(37,30)
		font-weight: 300
		letter-spacing: 1px
		background: #F5F7F7
		border: none
		+box-shadow(0, 0, em(4,30), 0, rgba(0,0,0,.3))
		z-index: 990
		position: relative
		&::-ms-clear
			display: none
	.search-toggle
		+position(absolute, em(37) em(100) auto auto)
		background: url('../../assets/images/icon-search_orange.svg') 50% no-repeat
		background-size: contain
		height: em(34)
		width: em(34)
		border: none
		+transition(all .2s ease)
		z-index: 991
		&.active
			background-image: url('../../assets/images/icon-close_orange.svg')

