=print
	@content

=row
	+outer-container(em(1470))
	padding: 0 em(15)
	+media($lg-1130)
		padding: 0 em(30)
	+media(1750px)
		padding: 0

=fontawesome
	font-family: FontAwesome
	font-style: normal
	font-weight: normal
	text-decoration: inherit
	line-height: inherit

=button($fontsize: 16, $height: 60)
	font-size: em($fontsize)
	font-family: 'Gibson'
	font-weight: 600
	background: $orange
	margin-bottom: em(10,$fontsize)
	letter-spacing: 1px
	height: em($height,$fontsize)
	line-height: em($height,$fontsize)
	padding: 0 em(15,$fontsize) 0
	+border-bottom-radius(2px)
	+border-top-radius(2px)
	display: block
	text-align: center
	color: white
	text-decoration: none
	&:hover
		background: darken($orange,10)

=placeholderStyles
	::-webkit-input-placeholder
		@content
	:-moz-placeholder
		@content
	::-moz-placeholder
		@content
	:-ms-input-placeholder
		@content

=label
	font-size: em(12)
	letter-spacing: em(3,12)
	line-height: em(18,12)
	font-family: 'Gibson'
	font-weight: 600
	color: #A5A9AC

=moduleHeader($color: white)
	color: $color
	font-family: 'Gibson'
	font-weight: 600
	font-size: em(36)
	line-height: 1
	text-transform: uppercase
	+media($lg-1130)
		font-size: em(48)
		line-height: em(54,48)
		letter-spacing: em(.4,48)

=moduleSubtext
	font-size: em(18)
	line-height: em(36,18)
	+media($lg-1130)
		font-size: em(20)
		line-height: em(36,20)


=read-more-arrow($fontsize: 16)
	font-size: em($fontsize)
	padding-left: em(21,$fontsize)
	line-height: 13px
	font-weight: 600
	text-decoration: none
	color: $orange
	background: url('../../assets/images/icon-arrow-right-orange.png') 0 45% no-repeat
	background-size: em($fontsize,$fontsize)
	&:hover
		color: darken($orange, 10)
		background-image: url('../../assets/images/icon-arrow-right-orange-hover.png')

=border-radius($radius)
	+border-top-radius($radius)
	+border-bottom-radius($radius)

=v-align($position: relative, $percent: 50%)
	position: $position
	top: $percent
	-webkit-transform: translateY(-$percent)
	-ms-transform: translateY(-$percent)
	transform: translateY(-$percent)

=box-shadow($x: 0px, $y: 0px, $blur: 0px, $spread: 0px, $color: black)
	-webkit-box-shadow: $x $y $blur $spread $color
	-moz-box-shadow: $x $y $blur $spread $color
	box-shadow: $x $y $blur $spread $color

=slick-dot-styling
	&.slick-slider
		margin-bottom: 0
	.slick-slide:focus
		outline: none
	.slick-dots
		bottom: em(74)
		display: table
		margin: 0 auto
		left: 0
		right: 0
		max-width: em(375)
		+media($lg-1130)
			max-width: none
			display: table !important
			bottom: em(-84)
		li
			height: 50px
			line-height: 50px
			width: auto
			display: table-cell
			padding: 0 15px
			+media($lg-1130)
				display: inline-block
				padding: 0 10px
			&.slick-active button, &:hover button
				background: $orange
			button
				height: 4px
				width: 100%
				line-height: 50px
				display: inline-block
				vertical-align: middle
				padding: 0
				background: white
				+media($lg-1130)
					width: 95px
				&:before
					display: none
