$blue: #13376F
$orange: #F3720A
$url: "http://dev.trafficdesk.io/bir/"

@import 'parts/fonts'
@import 'parts/cover-page'
@import 'parts/attorney-bio'
@import 'parts/module-stat_callout_4'
@import 'parts/module-bullets_explanation'
@import 'parts/module-vcard_slider'
@import 'parts/module-link_list_2_col'
@import 'parts/post-meta'
@import 'parts/module-post_content'
@import 'parts/module-quote_callout'
@import 'parts/locations-detail'
@import 'parts/module-office_head'



@page:first
	margin: .5cm

body
	// width: 180mm
	width: 100%
	margin: 0 auto


h1,h2,h3,h4,h5,h6,p, ul, ol
	margin: 0
	padding: 0

h1,h2,h3,h4,h5,h6
	font-family: 'Gibson Semi'
	font-weight: normal
	strong
		font-family: 'Gibson Semi'

p
	font-family: 'Georgia'

a
	color: $orange
	text-decoration: none

strong
	font-family: 'Georgia Bold'

.module-offset_slider
	display: none

// Sections to add page breaks
.lateral-attorneys,
.bio,
.insight,
.basic-template,
.corporate-responsibility,
.diversity,
.services_detail,
.news-article,
.locations_detail
	page-break-after: always

.lateral-attorneys .info,
.services_detail .industry-info,
.insight .post-meta,
.basic-template .info,
.corporate-responsibility .info,
.diversity .diversity-info,
.locations_detail .location-info
	margin-bottom: 40px
	padding-bottom: 25px
	border-bottom: solid 2px $blue
	.page-title h1
		font-size: 40px
	.sub-intro p
		// font-size: 18px

.col-content
	padding-bottom: 50px
