.sidebar
	padding-bottom: em(45)
	.widget
		font-family: 'Gibson'
		padding-bottom: em(66)
		&:last-child
			padding-bottom: 0
		.header
			font-size: em(24)
			padding-bottom: em(13,24)
			color: #212121
			letter-spacing: em(.2,24)
			border-bottom: solid 1px #D0D0D0
	// Link Nav Widget
	.widget.link-nav
		margin-bottom: em(-18)
		.wrap
			font-weight: 600
		ul
			list-style: none
			padding-top: em(5)
			li
				&:last-child a
					// padding-bottom: 0
		a
			font-size: em(14)
			line-height: em(18,14)
			padding: em(18,14) em(15,14) em(18,14) 0
			display: block
			background: url('../../assets/images/bio/icon-chevron-right-orange.png') 100% 50% no-repeat
			background-size: em(8,14)
	// Download Link Nav Widget
	.widget.download
		a
			font-size: em(14)
			line-height: em(18,14)
			display: block
			background: url('../../assets/images/icons/download_orange.svg') 0 50% no-repeat
			background-size: em(12,14)
			padding-left: em(30,14)

	// Contact Card Widget
	.widget.contact-card
		.wrap
			padding-top: em(19)
		h5
			font-size: em(20)
		a
			display: block
		.email
			font-size: em(20)
			padding: em(16,20) 0
		.numbers
			position: relative
			.phone
				font-size: em(20)
				font-weight: normal
				color: #212121
			.vCard
				font-size: em(13)
				+position(absolute, em(-9,13) em(59,13) auto auto)
				font-weight: 600
				padding: em(15,13) 0 em(15,13) em(48,13)
				background: url('../../assets/images/icon-vcard_orange.png') 0 35% no-repeat
				background-size: em(33,13)
				+media(min-width 1130px max-width 1379px)
					position: relative
					left: 0
					top: em(10,13)

	// Text Widget
	.widget.text
		color: #9B9B9B
		.wrap
			padding-top: em(21)
		p
			line-height: em(18)
			padding-bottom: em(36)
			&:last-child
				padding-bottom: 0
		ul
			list-style: none
			li
				display: block
				padding-bottom: em(20)
				&:last-child
					padding-bottom: 0
	// Tag Cloud
	.widget.tag-cloud
		.wrap
			font-weight: 600
			padding: em(19) 0 0 em(1)
		ul
			list-style: none
		li
			display: inline-block
			padding: 0 em(8) em(10) 0
		a
			font-size: em(13)
			padding: em(11,13) em(13,13) em(9,13)
			display: inline-block
			border: solid 1px #D0D0D0
			color: #A5A9AC
			+border-radius(2px)
			&:hover
				color: $orange
				border-color: $orange