<h3>We’re all about serving our clients</h3>

<h4>We’re the right size.</h4>
<p>We're ready to take on just about any challenge you hand us. With approximately 500 attorneys and government relations professionals in the firm, we cover all the bases: business organizations, business finance, litigation, intellectual property, business and personal tax, government relations, creditors' rights, employment, employee compensation and benefits, labor, immigration, estates and trusts, government contract law and commercial contracts. Our lawyers and government relations professionals know how the law impacts a broad range of industries and continually improve our knowledge and service to our clients in these industries. To name a few: financial services, health care, energy and natural resources, manufacturing, retail, entertainment and media, pharmaceuticals, real estate, education, hospitality, and technology. Our experience in these areas lends itself to efficient, productive and organized work cycles that lead to quality outcomes.</p>

<h4>We value individual relationships.</h4>
<p>We may be a large law firm, but we take a personal approach to getting to know every client. We work hard to understand your needs, expectations, and concerns. Our understanding of your priorities guides our decisions, helping us to be thoughtful partners who provide resourceful, seasoned counsel. We're dedicated community members, too, with a long history of involvement in the lives of the people around us. Like you, we care about what's happening with your business.</p>

<h4>We believe in partnership.</h4>
<p>We may be a large law firm, but we take a personal approach to getting to know every client. We work hard to understand your needs, expectations, and concerns. Our understanding of your priorities guides our decisions, helping us to be thoughtful partners who provide resourceful, seasoned counsel. We're dedicated community members, too, with a long history of involvement in the lives of the people around us. Like you, we care about what's happening with your business.</p>