<h4>How I Help Clients</h4>
<p>A litigator with more than 30 years of experience, Peter Russ leads the firm's financial services litigation team as well as serving as Office Head for the firm's Pittsburgh office. He focuses on commercial litigation, creditors' rights, and workouts/restructurings, with a special emphasis on defending financial institutions and secured equipment lenders in lender liability matters. He represents clients before state, federal and bankruptcy courts, appellate courts, in arbitrations, and in non-judicial restructurings. He also has a significant background in Uniform Commercial Code trial work, commercial fraud litigation and business torts. But Peter’s practice is by no means restricted to financial institutions; he also has considerable experience representing clients in such diverse industries as security, construction, manufacturing, high technology and aerospace.</p>
<h4>What Clients Can Expect</h4>
<p>What should clients expect from Peter? An honest assessment and a resolute advocacy once the course has been set. While always a fierce advocate for his clients, Peter also understands each client’s unique practical, regulatory and other considerations. When possible, he uses his experience to resolve disputes prior to litigation, offering clients varied workout strategies and complex debt restructurings designed to avoid litigation or resolve cases once suit has been filed. When the courtroom beckons, however, Peter’s knowledge of pre-litigation strategies and industry “best practices” helps clients through the process efficiently and cost effectively.</p>
<blockquote>
  <p>A good attorney understands the client's objectives and brings a laser-focused strategy to attaining those objectives, while remaining flexible enough to handle the inevitable surprises which make each case or negotiation unique.</p>
</blockquote>
<p>Clients describe Peter as both a passionate and creative advocate. His bank clients, for example, recall well how he helped guide them through the uncharted waters of the 2007-2012 economic crisis. Because his practice “transcends substantive disciplines,” he is able to provide service that considers every aspect of a matter.</p>
<h4>Outside of the Office</h4>
<p>Born and raised in Buffalo, N.Y., Peter is married with two great kids, loves to cycle, hike, and travel, and is delighted that he has been able to visit 49 of the states. True to his multi-faceted nature, Peter says that if he had not chosen law as a career, he might have chosen either investment banking or a gig as a DJ on <a href="http://undergroundgarage.com/">Little Steven's Underground Garage</a>.</p>
<h4>Proof Points</h4>
<ul>
  <li>Served as lead counsel in successfully defending a national bank against a $100 million lender liability action brought in a Pennsylvania federal court involving a failed Rocky Mountain ski resort and simultaneously securing a multi-million dollar judgment for monies advanced.</li>
  <li>Represented a large national bank in a lender liability action alleging an oral modification of certain loan documents. All claims were defeated and judgment was entered against the borrower in excess of $30 million.&nbsp;Notwithstanding aggressive judgment avoidance tactics, the full amount of the judgment was ultimately collected through a related action brought against a borrower affiliate for successor liability and alter ego liability.</li>
  <li>Defeated an injunction action filed in a New York trial court seeking to compel an international multi-bank lending group to further fund two loan facilities totaling almost $100 million secured by two Marin County, California apartment complexes. The favorable court rulings eventually lead to the successful restructuring of both credit facilities.</li>
  <li>As lead counsel, represented the administrative agent for a group of lenders in the sale out of receivership of approximately 60 acres commonly known as The Campus at Playa Vista, a retail/commercial project located in Los Angeles, CA, on historic property formerly owned by billionaire industrialist Howard Hughes, Jr.</li>
  <li>Served as lead trial counsel on behalf of the holders of approximately $100 million of tax exempt municipal bonds secured by two major metropolitan New York City hotels. After a one month bankruptcy court trial, relief was granted which lead to a significant multimillion dollar recovery beyond the bondholders' initial investment.</li>
  <li>Secured a receiver for a large Michigan mobile home park necessitated by the breach of a $30 million multi-bank credit facility. Successfully defeated related lender liability and RICO claims brought in Michigan and New York courts.</li>
  <li>Successfully restructured credit facilities totaling almost $40 million supported by municipal bonds issued in conjunction with a not-for-profit religious school located on Long Island, NY.</li>
  <li>Obtained a $9 million settlement in an action brought on behalf of a bankrupt glass container manufacturer against a broker and insurance company for negligence, bad faith and other claims arising from the declination of insurance coverage. This settlement represents one of the largest Pennsylvania settlements or verdicts obtained in 2008.</li>
  <li>Obtained a Delaware Chancery Court verdict in excess of $26 million on behalf of a national financial institution in an action brought under Delaware's statutory cash-out merger laws.</li>
  <li>Favorably resolved, with other counsel, a securities class action brought against the former officers and directors of the second largest bank in Puerto Rico.</li>
  <li>Won a federal court judgment on behalf of a national investment firm in excess of $21 million while simultaneously obtaining a defense verdict on a related securities fraud action.</li>
  <li>Successfully defended a seven member national bank syndicate in a multimillion dollar lender liability action involving the development of several large assisted living facilities brought in an Arizona state court.</li>
  <li>Successfully defended the outside directors and members of the audit committee of a public company in a securities fraud class action.</li>
  <li>Obtained a defense verdict and secured a million dollar judgment and equitable relief from a West Virginia federal court on behalf of a security alarm company in an action for tortious interference and other business torts.</li>
</ul>
