<section class="bio-hero">
	<div class="hero-briefcase hero-briefcase--orange">
		<a href="javascript:void(0)" class="hero-briefcase__add-btn briefcaseAdd"><span>ADD TO MY BRIEFCASE</span></a>
	</div>
	<div class="row">
		<div class="col-bio_photo" data-briefcase="photo">
			<div class="photo" style="background-image: url('{{ site_url }}assets/images/headshots/peter-russ.jpg');">
                            <img src="{{ site_url }}assets/images/headshots/peter-russ.jpg" alt="Peter Russ"/>
                        </div>
		</div>
		<div class="col-bio_content" data-briefcase="bioDetails">
			<div class="wrap">
				<img src="{{ site_url }}assets/images/logo-with-background.jpg" alt="BIPC Logo" class="bio-hero__print-logo-img">
				<h1>Peter S. Russ</h1>
				<div class="titles">
					<p>Shareholder</p>
					<p>Managing Shareholder, Pittsburgh Office</p>
					<p>Chair, Pittsburgh Office Litigation</p>
					<p>Chair, Financial Services Litigation Group</p>
				</div>
				<div class="email">
					<span>Email:</span> <a href="#">peter.russ@bipc.com</a>
				</div>
				<div class="phone-locations">
					<div class="phone-locations__phones">
						<div class="phone-locations__phone"><span>P:</span> <a href="">412-562-1416</a></div>
						<div class="phone-locations__phone"><span>P:</span> <a href="">412-562-1416</a></div>
						<div class="phone-locations__phone"><span>P:</span> <a href="">412-562-1416</a></div>
					</div>
					<div class="phone-locations__locations">
						<div class="phone-locations__location">New York, NY </div>
						<div class="phone-locations__location">Pittsburgh,PA </div>
					</div>
				</div>
				<div class="contact-widgets">
					<div class="widget">
						<a href="" class="linkedin">REACH OUT ON LINKEDIN</a>
					</div>
					<div class="widget">
						<a href="" class="vcard">DOWNLOAD vCARD</a>
					</div>
					<div class="widget">
						<a href="" class="print">PRINT MY BIO</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
