<div class="widget link-nav">
	<div class="header">Services & Industries</div>
	<div class="wrap">
		<ul>
			<li><a href="">SECURITIES LITIGATION</a></li>
			<li><a href="">FINANCIAL SERVICES</a></li>
			<li><a href="">BANKRUPTCY & INSOLVENCY</a></li>
			<li><a href="">CREDITORS’ RIGHTS</a></li>
		</ul>
	</div>
</div>

<div class="widget text">
	<div class="header">Education</div>
	<div class="wrap">
		<p>State University of New York at Buffalo, J.D., 1984</p>
		<p>State University of New York at Buffalo, B.A., cum laude, 1980</p>
	</div>
</div>

<div class="widget text">
	<div class="header">Admissions</div>
	<div class="wrap">
		<ul>
			<li>Pennsylvania</li>
			<li>New York</li>
			<li>District of Columbia</li>
			<li>Florida</li>
			<li>California</li>
		</ul>
	</div>
</div>

<div class="widget text">
	<div class="header">Civic & Charitable</div>
	<div class="wrap">
		<p>Hampton Township Council, elected Member and current Council Vice President</p>
		<p>Allegheny County Association of Township Officials, past President and current Board Member</p>
		<p>Allegheny League of Municipalities, Director</p>
	</div>
</div>

<div class="widget tag-cloud">
	<div class="header">Related Keywords</div>
	<div class="wrap">
		<ul>
			<li><a href="">LONG TERM CARE</a></li>
			<li><a href="">LOREM IPSUM DOLOR</a></li>
			<li><a href="">LOREMIPSUM DOLOREGESTAS</a></li>
			<li><a href="">LOREM IPSUM</a></li>
			<li><a href="">LOREM IPSUM DOLOR</a></li>
			<li><a href="">FERMENTUM TOTOR</a></li>
			<li><a href="">LOREMIPSUM DOLOREGESTAS</a></li>
			<li><a href="">LOREM IPSUM</a></li>
			<li><a href="">LONG TERM CARE</a></li>
			<li><a href="">LOREM IPSUM DOLOR</a></li>
		</ul>
	</div>
</div>