.btn-load_more
	text-align: center
	padding: em(60) 0 em(70)
	+media($lg-1130)
		padding-top: em(57)
	a
		font-size: em(18)
		padding-bottom: em(46,18)
		color: #9B9B9B
		display: inline-block
		font-family: 'Gibson'
		font-weight: 600
		letter-spacing: 1px
		background: url('../../assets/images/icon-arrow_down_grey.png') 50% 100% no-repeat
		background-size: 13px
		&:hover
			color: $orange
			background-image: url('../../assets/images/icon-arrow_down_orange.png')