// Content left. Sidebar on right
.layout-sidebar
	+media($lg-1130)
		padding-top: em(58)
		padding-bottom: em(47)
	.col-content
		+media($lg-1130)
			+span-columns(8)
			padding-top: em(21)
	.col-sidebar
		+media($lg-1130)
			+span-columns(4)
			+omega
			padding: em(41) 0 0 em(123)

.layout-full_width
	.narrow
		max-width: em(960)