section.page-hero
	background-image: url('../../assets/images/hero-home.jpg')
	background-repeat: no-repeat
	background-position: 50%
	background-size: cover
	font-family: 'Gibson'
	color: white
	position: relative
	height: em(174)
	+media($lg-1130)
		height: em(377)
		&.parent
			height: em(377)
		&.child
			height: em(467)
	// Modifiers
	&.page-hero--color-gray
		+radial-gradient(circle at 10% 20%, #37393D 10%, #1F2228 80%, #1F2228)
	&.page-hero--color-orange
		+radial-gradient(circle at 10% 20%, #F38B0A 10%, #F3720A 80%, #F3720A)
	&.page-hero--height-narrow
		height: em(103)
		+media($lg-1130)
			height: em(288)
	&.page-hero--valign-middle
		.wrap-hero_text
			+v-align(absolute, 50%)
	.wrap-hero_text
		+position(absolute, em(57) auto auto em(15))
		+media($lg-1130)
			top: em(116)
			left: 0
			right: 0
			margin: 0 auto
			width: 100%
	.breadcrumb
		+position(absolute, em(-20) auto auto auto)
		list-style: none
		+media($lg-1130)
			top: em(-37)
		+media(1750px)
			left: em(4)
		li
			font-size: em(14)
			font-weight: 600
			color: #CACED1
			float: left
			&:after
				content: '/'
		a
			color: #CACED1
	.intro-text
		padding-bottom: em(2)
		+media($lg-1130)
			padding-bottom: em(22)
		p
			font-size: em(10)
			letter-spacing: 4px
			font-weight: 600
			line-height: 15px
			+media($lg-1130)
				font-size: em(20)
				letter-spacing: 8.33px
				line-height: 28px
				letter-spacing: 8.3px
	.page-title
		max-width: em(1000)
		h1
			font-weight: 600
			font-size: em(30)
			line-height: em(36,30)
			+media($lg-1130)
				font-size: em(64)
				letter-spacing: 0
				line-height: em(54,64)
	.sub-intro
		display: none
		position: relative
		font-family: 'Gibson'
		max-width: em(800)
		+media($lg-1130)
			display: block
			padding-top: em(22)
			left: em(4)
		p
			font-size: em(20)
			line-height: em(36,20)
		a
			color: white
			&:nth-of-type(odd)
				padding-right: em(10,20)
				margin-right: em(10,20)
				border-right: solid 1px white
	.weather
		font-size: em(36)
		font-weight: 300
		+position(absolute, auto auto em(37,36) auto)
		+media($lg-1130)
			right: em(15,36)
			bottom: em(5,36)
			left: auto
		+media(1750px)
			right: 0
		.time, .temp
			display: inline-block
		.temp
			padding-left: em(65,36)
			position: relative
			&:after
				+position(absolute, 0 auto auto em(20,36))
				content: ''
				display: block
				width: em(36,36)
				height: em(29,36)
				background: 50% no-repeat
				background-size: contain
			&.sunny:after
				background-image: url('../../assets/images/location-detail/icon-weather_sunny.svg')
section.page-hero.location
	+media(min-width 0 max-width 1129px)
		height: auto
	.sub-intro
		display: block
		+media($lg-1130)
			padding-top: em(5)
	.wrap-hero_text
		+media(min-width 0 max-width 1129px)
			+position(relative, 0 0 0 0)
			padding-top: em(57)
			padding-bottom: em(125)
		+media($lg-1130)
			+v-align(absolute,56%)