{% set template = "corporate-responsibility" %}
{% extends "layout.nunjucks" %}

{% block content %}

	<div id="template-corporate_responsibility">
		{% set hero_url = "assets/images/our-firm/hero.jpg" %}
		{% set hero_title = "CORPORATE RESPONSIBILITY" %}
		{% set hero_breadcrumb = "OUR FIRM" %}
		{% set hero_sub_intro = "While it may be a cliché that people are your most important resource, it’s true nonetheless. How you manage that resource can mean the difference between business success and failure. Our attorneys are ready to help you manage it, top to bottom. The depth of our experience and our creative problem-solving let us help you achieve practical, cost-effective solutions that help you maintain or build a better workforce." %}
		{% set hero_class = 'child' %}
		{% include "partials/page-hero.nunjucks" %}

		<div class="page-content">
			{% set quote_callout = [{
				quote: "“Serving these neighborhoods is our responsibility. We are proud to partner with local organizations to support the growth and well-being of our community.”",
				quotee: 'Jack Barbour' ,
				source: 'CEO of Buchanan Ingersol & Rooney'
				}	] %}
			{% include "partials/modules/quote_callout.nunjucks" %}

			<section class="module-post_content bg-gray" data-briefcase="cr-content">
				<div class="row narrow">
					<div class="wrap">
						{% include "partials/templates/corporate-responsibility/content.nunjucks" %}
					</div>
				</div>
			</section>

			{% include "partials/modules/offset_slider.nunjucks" %}
			{% include "partials/modules/partner_form.nunjucks" %}

			{% set page_footer_nav_text = "Leadership Team" %}
			{% include "partials/modules/page-footer-nav.nunjucks" %}
		</div>
	</div>

{% endblock %}
