{% set template = "locations_detail" %}
{% extends "layout.nunjucks" %}

{% block content %}

	<div id="template-locations_detail">
		{% set hero_url = "assets/images/location-detail/hero.jpg" %}
		{% set hero_title = "SAN DIEGO" %}
		{% set hero_sub_intro = "One America Plaza<br>
								600 West Broadway, Suite 1100<br>
								San Diego, CA 92101-3387<br>
								<a href='#'>P: 202 452 7970</a> <a href='#'>F: 619 702 3898</a>" %}
		{% set hero_class = 'parent location' %}
		{% set weather = 'weather' %}
		{% include "partials/page-hero.nunjucks" %}

		<div class="page-content">
			<div class="secondary-nav">
				{% set inpage_nav = [
					{ name: "ALL", link: '' , active: 'true'},
					{ name: "PEOPLE", link: ''},
					{ name: "EVENTS", link: ''}
				] %}
				{% include "partials/modules/inpage-nav.nunjucks" %}
			</div>
			{% include "partials/modules/office_head.nunjucks" %}
			{% include "partials/modules/contact_form.nunjucks" %}
			{% include "partials/modules/map.nunjucks" %}

			{% set link_list_2_col_header = 'AVAILABLE POSITIONS' %}
			{% set link_list_2_col_sub_text = '<p>While it may be a cliché that people are your most important resource, it’s true nonetheless. How you manage that resource can mean the difference between business success and failure. Our attorneys are ready to help you manage it, top to bottom. The depth of our experience and our creative problem-solving let us help you achieve practical, cost-effective solutions that help you maintain or build a better workforce.</p>' %}
			{% set link_list_2_col_links = [
				{ name: "LATERAL ATTORNEYS", link: '/' },
				{ name: "LEGAL POSITIONS", link: '/'},
				{ name: "JUDICIAL CLERKS", link: '/'},
				{ name: "LAW STUDENTS", link: '/'},
				{ name: "PROFESSIONAL STAFF", link: '/'},
				{ name: "OTHER", link: '/'}
			] %}
			<!-- {% include "partials/modules/link_list_2_col.nunjucks" %} -->

			{% include "partials/modules/location_cloud.nunjucks" %}
		</div>
	</div>

{% endblock %}
