{% set template = "locations" %}
{% extends "layout.nunjucks" %}

{% block content %}

	<div id="template-locations">
		{% set hero_url = "assets/images/locations/hero.jpg" %}
		{% set hero_title = "LOCATIONS" %}
		{% set hero_class = 'parent' %}
		{% set add_briefcase = false %}
		{% include "partials/page-hero.nunjucks" %}

		<div class="page-content">
			<div class="secondary-nav">
				{% set filters = [
					{ id: "location", placeholder: 'Location'}
				] %}
				{% include "partials/modules/filter.nunjucks" %}
			</div>
			{% include "partials/templates/locations/locations.nunjucks" %}

		</div>
	</div>

{% endblock %}
