{% set template = "people" %}
{% extends "layout.nunjucks" %}

{% block content %}

	<div id="template-people">
		{% set hero_url = "assets/images/people/hero-people.jpg" %}
		{% set hero_title = "PEOPLE" %}
		{% set hero_class = 'parent' %}
		{% set add_briefcase = false %}
		{% include "partials/page-hero.nunjucks" %}

		<div class="page-content">
			<div class="secondary-nav">
				{% set inpage_nav = [
					{ name: "ALL", link: '/people/all', active: 'true' },
					{ name: "ATTORNEYS", link: '/people/attorneys'},
					{ name: "GOVERNMENT RELATIONS", link: '/people/government-relations'},
					{ name: "ADMINISTRATION", link: '/people/administration'}
				] %}
				{% include "partials/modules/inpage-nav.nunjucks" %}

				{% set filters = [
					{ id: "location", placeholder: 'Location'},
					{ id: "service-industry", placeholder: 'Service & Industry' },
					{ id: "schools", placeholder: 'Schools'}
				] %}
				{% set alpha_filter = true %}
				{% include "partials/modules/filter.nunjucks" %}
			</div>
			{% include "partials/templates/people/people-grid.nunjucks" %}

		</div>
	</div>

{% endblock %}
