{% extends "layout.nunjucks" %}

{% block content %}

	<div id="template-services">
		{% set hero_url = "assets/images/services/hero-all_services.jpg" %}
		{% set hero_title = "SERVICES & INDUSTRIES" %}
		{% set hero_sub_intro = "While it may be a cliché that people are your most important resource, it’s true nonetheless. How you manage that resource can mean the difference between business success and failure. Our attorneys are ready to help you manage it, top to bottom. The depth of our experience and our creative problem-solving let us help you achieve practical, cost-effective solutions that help you maintain or build a better workforce." %}
		{% set hero_class = 'child' %}
		{% set add_briefcase = false %}
		{% include "partials/page-hero.nunjucks" %}

		<div class="page-content">

			{% include "partials/templates/services/all-services-list.nunjucks" %}

		</div>
	</div>

{% endblock %}
