/* Template Locations */
// -articles-advisories.nunjucks
// -events.nunjucks

section.module-articles_list
	font-family: 'Gibson'
	font-weight: 600
	padding: em(60) 0 0
	+media($lg-1130)
		padding-top: em(47)
	// layout styling
	+media($lg-1130)
		div[class^='col-']
			float: left
		.col-date
			width: 11.5%
		.col-title
			width: 48%
		.col-contributors
			width: 22%
		.col-services
			width: 18.5%
	// LIST HEAD
	.list-head
		+outer-container
		display: none
		color: #A5A9AC
		div[class^='col-']
			font-size: em(14)
			letter-spacing: 1px
		+media($lg-1130)
			display: block
			border-bottom: solid 1px #D0D0D0
			padding-bottom: em(17)

	// LIST BODY
	.list-container
		+outer-container
	.article
		+outer-container
		padding-bottom: em(30)
		margin-bottom: em(41)
		border-bottom: solid em(2) #D0D0D0
		display: none
		+media($lg-1130)
			padding: em(38) 0 em(26)
			margin-bottom: 0
		a
			display: block
		.row
			padding: 0
		.col-date
			+label
			padding-bottom: em(6,12)
		.col-title
			padding-bottom: em(30)
			position: relative
			+media($lg-1130)
				top: em(-7)
				padding: 0 em(70) 0 0
			a
				font-size: em(24)
				line-height: em(36,24)
				color: #1F2228
				&:hover
					color: lighten(#1F2228, 20)
				+media($lg-1130)
					font-size: em(20)
					line-height: em(28,20)
		.col-contributors
			padding-bottom: em(38)
			+media($lg-1130)
				padding-bottom: 0
		.col-contributors, .col-services
			a
				font-size: em(14)
				margin-bottom: em(22,14)
				&:last-child
					margin-bottom: 0
			&:before
				+label
				padding-bottom: em(20,12)
				display: block
				+media($lg-1130)
					display: none
		.col-contributors:before
			content: 'CONTRIBUTORS'
		.col-services:before
			content: 'SERVICES & INDUSTRIES'
		.tags
			+outer-container
			padding-top: em(47)
			+media($lg-1130)
				padding: em(15) 0 0 0
				margin-left: 11.5%
			ul
				list-style: none
			li
				float: left
				padding-right: em(11)
				padding-bottom: em(10)
			a
				font-size: em(13)
				height: em(35,13)
				line-height: em(35,13)
				padding: 0 em(13,13)
				border: solid em(1,13) #D0D0D0
				+border-radius(em(3,13))
				display: block
				color: #A5A9AC
				font-weight: 600
				&:hover
					color: $orange
					border-color: $orange

// Modifer for events list
section.module-articles_list.events
	+media($lg-1130)
		div[class^='col-']
			float: left
		.col-date
			width: 14%
		.col-title
			width: 54%
		.col-contributors
			width: 17%
		.col-services
			width: 15%
	.article
		margin-bottom: em(45)
		+media($lg-1130)
				margin-bottom: 0
				padding-bottom: em(30)
		.col-date .time
			padding-left: em(16,12)
			+media($lg-1130)
				display: block
				padding-left: 0
		.col-title
			padding-bottom: em(15)
		.col-contributors, .col-services
			&:before
				display: none
		.col-services
			display: none
			padding-left: em(8)
			+media($lg-1130)
				display: block
			a
				font-size: em(14)
				padding: em(5,14) 0 em(5,14) em(40,14)
				margin-top: em(-2,14)
				background-size: em(22,14)
				background: url('../../assets/images/icon-add_calendar_orange.svg') 0 50% no-repeat
		.col-contributors
			padding-bottom: em(1)
			a
				font-size: em(12)
				letter-spacing: em(3,12)
				color: #A5A9AC
		.add-calendar
			font-size: em(14)
			padding: em(5,14) 0 em(5,14) em(40,14)
			margin: em(24,14) 0 em(5,14)
			background-size: em(22,14)
			background: url('../../assets/images/icon-add_calendar_orange.svg') 0 50% no-repeat
			+media($lg-1130)
				display: none
	.tags
		+media($lg-1130)
			padding: em(11) 0 0 0
			margin-left: 14%

section.blog_list
	+media($lg-1130)
		.col-title
			width: 48%
		.col-contributors
			width: 22%
		.col-services
			width: 18.5%