#template-bio
	.bio-hero
		font-size: 10px
		padding-bottom: 20px
	.layout-sidebar
		padding-top: em(20) !important
	.page-content
			padding-top: em(0) !important
	.col-bio_content
		padding-top: 0
		padding-left: 0
		padding-bottom: 0
		min-height: 0
	.col-bio_photo
		height: auto
		.photo
			+box-shadow(0)
			height: em(250,10)
			width: em(250,10)
			position: relative
			img
				opacity: 1
				width: auto
				height: 100%
	.phone-locations
		// +position(absolute, 0 0 null null)

.bio-hero
	.col-bio_content h1
		max-width: rem(330) !important
	&__print-logo-img
		display: block