#template-briefcase
	.col-page_order, .col-page_num
		display: block
	.row.header
		.col-reorder, .col-remove
			display: block
	.col-page_name
		width: 70%
		padding-right: em(50)
	.col-page_order, .col-remove
		width: 15%

	.col-page_order, .col-page_num, .col-reorder, .col-remove
		text-align: center
	.col-page_order
		+span-columns(1)
	.col-page_name
		+span-columns(5)
		+shift(1)
	.col-page_num, .col-reorder, .col-remove
		+span-columns(1)