// Content left. Sidebar on right
.layout-sidebar
	+print
		padding-top: em(58)
		padding-bottom: em(47)
	.col-content
		+print
			+span-columns(8)
			padding-top: em(21)
	.col-sidebar
		+print
			+span-columns(4)
			+omega
			padding: em(41) 0 0 em(50)

.layout-full_width
	.narrow
		max-width: em(960)