section.module-post_content
	font-family: 'Georgia'
	padding: em(61) 0
	color: #212121
	+print
		padding: em(95) 0
	// Modifiers
	&.module-post_content--narrow
		> .row
			max-width: em(968)
	&.no-top-padding-desktop
		+print
			padding-top: 0
	h2
		font-size: em(30)
		line-height: em(36,30)
		padding-bottom: em(14,30)
		font-family: 'Gibson'
		font-weight: 600
		letter-spacing: em(-.6,30)
		color: #212121
		+print
			font-size: em(48)
			letter-spacing: em(.4,48)
			line-height: em(54,48)
	h3
		font-size: em(30)
		line-height: em(30,30)
		padding-bottom: em(23,30)
		font-family: 'Gibson'
		font-weight: 600
		+print
			font-size: em(36)
			padding: em(32,36) 0 em(40,36)
			line-height: em(42,36)
	h4
		font-size: em(20)
		font-weight: 600
		line-height: em(36,20)
		+print
			font-size: em(24)
			line-height: em(36,24)
	h5
		font-size: em(18)
		line-height: 2
		color: #14396D
		font-weight: bold
	.wrap
		img.hero
			margin-bottom: em(30)
			+print
				margin-bottom: em(51)
		img
			margin-bottom: em(36)
		& > :first-child
			padding-top: 0
			margin-top: 0
		& > :last-child
			padding-bottom: 0
			margin-bottom: 0
		> p
			font-size: em(18)
			padding-bottom: em(36,18)
			line-height: em(36,18)
			+print
				font-size: em(20)
				line-height: em(36,20)
				padding-bottom: em(36,20)
		> ul, > ol
			padding: em(36) 0 em(36) em(20)
			+print
				list-style: disc outside none
				padding-left: em(36)
			li
				font-size: em(18)
				line-height: em(30,18)
				padding-bottom: em(12,18)
				+print
					font-size: em(20)
					line-height: em(36,20)
					padding-bottom: em(12,20)
		> ul
			list-style: disc
		> ol
			list-style: decimal
		a
			color: #0A5097
			text-decoration: underline
			&:hover
				color: darken(#0A5097,30)
				// text-decoration: none
		table
			width: 100%
			text-align: left
			margin-bottom: em(30)
			font-size: 10px
			td,th
				font-size: em(18)
				line-height: em(36,18)
				+print
					font-size: em(20)
					line-height: em(36,20)
			p
				font-size: em(18)
				padding-bottom: em(36,18)
				line-height: em(36,18)
				+print
					font-size: em(20)
					line-height: em(36,20)
					padding-bottom: em(36,20)
			ul, ol
				padding: em(10) 0 em(10) em(20)
				+print
					list-style: disc outside none
					padding-left: em(36)
				li
					padding-bottom: em(12,18)
					+print
						padding-bottom: em(12,20)
			ul
				list-style: disc
			ol
				list-style: decimal
	blockquote
		padding: em(16) 0 em(25) em(33)
		margin-bottom: em(31)
		border-left: solid em(4) #13376F
		position: relative
		+print
			padding: em(12) em(100) em(5) em(32)
			margin-bottom: em(90)
		p
			font-size: em(24)
			line-height: em(36,24)
			letter-spacing: em(.5,24)
			color: #13376F
			font-family: 'Gibson'
			font-weight: 300
			position: relative
			+print
				font-size: em(30)
				letter-spacing: em(1,48)
				line-height: em(54,48)
			&:first-child:before
				content: open-quote
				+position(absolute, auto auto auto em(-15,24))
				+print
					left: em(-15,48)
			&:last-child:after
				content: close-quote
				+position(absolute, auto auto auto auto)

// custom video overlay
section.module-post_content
	.customVideoOverlay
		position: relative
		+box-shadow(0,15px,20px,0,rgba(0,0,0,.3))
		margin-bottom: em(72)
		+print
			margin-top: em(35)
			margin-bottom: em(105)
		button
			+position(absolute, 0 0 0 0)
			display: block
			width: 100%
			z-index: 9
			background: 50% no-repeat
			background-size: cover
			border: none
			display: none
			+print
				display: block
				&:hover
					.text
						opacity: 0
					&:before
						opacity: 1
			&:before
				content: ''
				+v-align(absolute)
				+transition(all .5s ease)
				left: 0
				right: 0
				margin: 0 auto
				height: em(56)
				width: em(56)
				background: url('../../assets/images/icon-play_btn_white_orange.svg') 50% no-repeat
				background-size: cover
				display: block
				+print
					opacity: 0
		.text
			display: none
			+v-align(absolute)
			+transition(all .5s ease)
			left: 0
			right: 0
			color: white
			font-family: 'Gibson'
			font-weight: 600
			+print
				display: block
			.top
				font-size: em(12)
				letter-spacing: em(3,12)
				color: #A5A9AC
				padding-bottom: em(14,12)
			.bottom
				font-size: em(36)