#template-bio
	section.bio-hero
		background: #F4F5F8
		padding-bottom: em(12)
		font-family: 'Gibson'
		overflow: hidden
		+media($lg-1130)
			background: url('../../assets/images/bio/bg-header.jpg') 50% no-repeat
			background-size: cover
			padding-bottom: 0
		> .row
			position: relative
		.col-bio_photo
			background: url('../../assets/images/bio/bg-header.jpg') 0 50% no-repeat
			margin: 0 em(-15)
			overflow: hidden
			+media($lg-1130)
				background: none
				+span-columns(4)
				height: 1px
			.photo
				height: em(233)
				width: em(192)
				margin-left: em(15)
				background-repeat: no-repeat
				background-position: 50% 100%
				background-size: cover
				z-index: 9
				+box-shadow(0, 0, 20px, 5px, rgba(0,0,0,.2))
				position: relative
				+media($lg-1130)
					+position(absolute, 0 auto 0 auto)
					height: 100%
					width: 31%
				img
					// opacity: 0
					height: 100%
					width: 100%
					opacity: 0
					+position(absolute, 0 0 0 0)
		.col-bio_content
			padding: em(35) 0 0 0
			color: #505258
			+media($lg-1130)
				+span-columns(8)
				+omega
				padding: em(79) 0 em(26) em(67)
				min-height: em(560)
			h1
				font-size: em(36)
				color: #1F2228
				letter-spacing: .5px
				+media($lg-1130)
					font-size: em(64)
					margin-left: em(-3,64)
					max-width: em(580,64)
			.titles
				padding: em(2) 0 em(25)
				+media($lg-1130)
					padding: em(7) 0 em(22) 0
					margin-top: em(-6)
				p
					font-size: em(18)
					line-height: 2
					+media($lg-1130)
						font-size: em(20)
						line-height: 32px
			.email
				font-size: em(18)
				+media($lg-1130)
					font-size: em(20)
				span
					color: #505258
			.phone-locations
				padding: em(27) 0 em(21)
				+clearfix
				.phone
					font-size: em(18)
					line-height: 2
				a
					color: #505258
				span
					font-weight: 600
				.phone-locations__phones,
				.phone-locations__locations
					float: left
				.phone-locations__phone,
				.phone-locations__location
					font-size: em(18)
					line-height: em(36,18)
				.phone-locations__phone
					padding-right: em(35,18)
			.contact-widgets
				font-family: 'Gibson'
				font-weight: 600
				+outer-container
				margin: 0
				+media($lg-1130)
					padding-top: em(14)
				.widget
					+media($lg-1130)
						float: left
						padding-right: em(50)
				a
					font-size: em(13)
					padding: em(10,13) 0 em(10,13) em(48,13)
					margin-bottom: em(21,13)
					display: inline-block
					background: transparent 0 50% no-repeat
					background-size: contain
					+media($lg-1130)
						margin-bottom: em(16,13)
					&.linkedin
						background-image: url('../../assets/images/icons/linkedin-circle_orange.svg')
					&.vcard
						background-image: url('../../assets/images/icons/vcard-circle_orange.svg')
					&.print
						background-image: url('../../assets/images/icons/printer-circle_orange.svg')

.bio-hero
	&__print-logo-img
		display: none
		+position(absolute, 0 0 null null)
		max-width: rem(170)

