#template-briefcase
	section.page-hero
		.sub-intro
			max-width: em(650)
section.module-briefcase_cart
	font-family: 'Gibson'
	font-weight: 600
	padding: em(35) 0 0 0
	+media($lg-1130)
		padding: em(79) 0 em(75) 0
	+media(min-width 0 max-width 1129px)
		.col-page_order, .col-page_num
			display: none
		.row.header
			.col-reorder, .col-remove
				display: none
	+media(min-width 0 max-width 1129px)
		.col-page_name
			width: 70%
			padding-right: em(50)
		.col-page_order, .col-remove
			width: 15%

	+media(min-width 1130px 10)
		.col-page_order, .col-page_num, .col-reorder, .col-remove
			text-align: center
		.col-page_order
			+span-columns(1)
		.col-page_name
			+span-columns(5)
			+shift(1)
		.col-page_num, .col-reorder, .col-remove
			+span-columns(1)

	div[class^='col']
		float: left
	.wrap-cart
		max-width: em(1222)
		margin: 0 auto
	// header
	.row.header
		color: #A5A9AC
		padding-bottom: em(12)
		+media($lg-1130)
			padding-bottom: em(15)
		div[class^='col']
			font-size: em(14)
			letter-spacing: 1px
			white-space: nowrap
	// items
	.row.items
		.item-row
			border-top: 1px solid #C9CED1
			padding: em(14) 0 em(11)
			+outer-container
			position: relative
			&:last-child
				border-bottom: 1px solid #C9CED1
			+media($lg-1130)
				font-size: em(20)
				padding: em(54,20) 0 em(31,20)
			.col-reorder button
				display: inline-block
				border: none
				background: transparent 50% no-repeat
				height: em(30)
				width: em(30)
				background-size: contain
				+v-align(absolute)
				+media($lg-1130)
					position: relative
					+v-align(relative, 0)
			.col-page_name
				a
					font-size: em(13)
					padding-left: em(43,13)
					// padding: em(10,13) 0 em(10,13) em(43)
					min-height: em(36,13)
					display: block
					line-height: em(18,13)
					color: #1F2228
					letter-spacing: .93px
					background: url('../../assets/images/icons/paper_black.svg') 0 15% no-repeat
					background-size: em(20,13)
					position: relative
					+media($lg-1130)
						font-size: em(20,20)
						top: em(-4,20)
						letter-spacing: em(1.43,20)
						min-height: em(30,20)
						padding: 0 0 em(5,20) em(47,20)
						background-position: 0 em(2,20)
						background-size: em(20,20)
			.col-reorder
				button
					background-image: url('../../assets/images/icons/hamburger_orange.svg')
					background-size: em(25) em(14)
					+media($lg-1130)
						position: relative
						top: em(-11,20)
						background-size: em(25,20) em(14,20)
			.col-remove
				button
					+v-align(absolute)
					right: em(15)
					margin-top: em(4)
					+media($lg-1130)
						position: relative
						left: 0
						right: 0
						margin-top: em(10)
	.row.footer
		padding-top: em(30)
		padding-bottom: em(79)
		+media($lg-1130)
			padding-top: em(60)
		.download
			background: #505258
			&:hover
				background: darken(#505258,10)
		.send
			margin-left: em(13,12)
			&:hover
				background: darken($orange,10)
			+media($lg-1130)
				margin-left: em(32)
		a
			font-size: em(12)
			width: em(130,12)
			height: em(50,12)
			line-height: em(50,12)
			+border-radius(3px)
			text-align: center
			float: right
			letter-spacing: .75px
			color: white
			background: $orange
			display: block
			+media($sm-480)
				width: em(166,12)
			+media($lg-1130)
				font-size: em(16)
				width: em(238)
				height: em(66)
				line-height: em(66)
