//CAREERS
#template-careers
	section.module-link_list_2_col
		background: #F4F5F8
	section.module-post_content
		.row
			max-width: em(1048)
		.wrap
			p
				max-width: em(990,20)
				margin: 0 auto
			div
				max-width: em(990)
				margin-left: auto
				margin-right: auto


