//EVENT DETAILS
#template-event_detail
	.social
		display: none
	.layout-sidebar
		+media($lg-1130)
			padding-top: em(13)
	.col-content
		.module-post_content
			padding-top: em(49)
			+media($lg-1130)
				padding-top: em(15)