//HOMEPAGE
#template-home
	section.page-hero.home
		height: em(262)
		+media($md-768)
			height: em(326)
		+media($lg-1130)
			height: em(755)
		.wrap-hero_text
			+media($md-768)
				left: em(119)
				+v-align(absolute, 40%)
			+media($lg-1130)
				+v-align(absolute, 35%)
				left: em(80)
		.intro-text
			+media($md-768)
				padding-bottom: em(5)
		.page-title
			h1
				font-size: em(36)
				line-height: 1
				+media($md-768)
					font-size: em(48)
					line-height: 1
				+media($lg-1130)
					font-size: em(96)

	section.module-center_callout
		display: none
		+media($md-768)
			display: block
	.mobile-buttons
		padding-top: em(20)
		+media($md-768)
			display: none
		.btn
			+button
