//LEADERSHIP TEAM
#template-leadership_team
	section.module-post_content
		.row
			max-width: em(830)
	section.module-people_grid
		+media($lg-1130)
			padding-top: 0
		.row
			max-width: em(1096)
		.vcard
			display: block
