//LOCATION

section.module-locations_grid
	font-family: 'Gibson'
	padding: em(15) 0 em(30)
	+media($lg-1130)
		padding-top: em(75)
		padding-bottom: em(120)
	.col-location
		margin-bottom: em(30)
		+media($lg-1130)
			+span-columns(4)
			&:nth-child(3n+3)
				+omega()
	.location
		position: relative
		height: em(356)
		background: 50% no-repeat
		background-size: cover
		+media($lg-1130)
			height: em(486)
	.state
		font-size: em(10)
		+position(absolute, 0 auto auto em(22,10))
		padding: em(11,10) em(17,10)
		font-weight: 600
		color: #1F2228
		background: white
		display: inline-block
		letter-spacing: .77px
	.info
		color: white
		+position(absolute, auto auto em(30) em(22))
		.city
			font-weight: 600
			font-size: em(36)
		address
			font-size: em(18)
			line-height: em(18,18)
			padding: em(14,18) 0 em(19,18)
			font-style: normal
		.numbers
			a
				font-size: em(18)
				color: white
				display: inline-block
				&:first-child
					border-right: solid 2px white
					padding-right: em(15,18)
					margin-right: em(15,18)