#template-news_article
	// modifiers to the modules
	.layout-sidebar
		+media($lg-1130)
			padding-top: em(3)
		.col-sidebar
			+media($lg-1130)
				padding-top: em(50)
	.module-post_content
		padding-top: em(30)
		+media($lg-1130)
			padding-bottom: 0
		.wrap p:first-of-type:first-letter
			font-size: em(72,20)
			padding-right: em(2,20)
			line-height: 1
			float: left