//OUR FIRM
#template-our_firm
	section.module-post_content
		.row
			max-width: em(973)
	section.module-post_content.block-2
		h2
			padding-bottom: em(19,30)
			+media($lg-1130)
				padding-bottom: em(16,48)